node-red/data/flows.json
[{"id":"1d4de0a0.3422df","type":"tab","label":"FIWARE Context Broker","disabled":false,"info":""},{"id":"d407a022.7d349","type":"tab","label":"GitHub","disabled":false,"info":""},{"id":"ba9285a6.957868","type":"tab","label":"SAVE","disabled":false,"info":""},{"id":"fd2493709155e47e","type":"tab","label":"Files v2","disabled":false,"info":""},{"id":"46cfb935.0ec9d8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fb0a241d6f060dcd","type":"subflow","name":"File Lister","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"6f5f58a9fd0a26c9"}]}],"out":[{"x":940,"y":160,"wires":[{"id":"bd3e111b30301bef","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"416fb17dde932093","type":"group","z":"ba9285a6.957868","name":"GitHub","style":{"fill":"#ffffbf","label":true},"nodes":["30b8aaf6d52456ce"],"x":334,"y":19,"w":192,"h":82},{"id":"34047250a1f44ce1","type":"group","z":"fd2493709155e47e","name":"","style":{"stroke":"none","fill":"#ffbfbf","label":true},"nodes":["1a1a090377e2b43e"],"x":334,"y":19,"w":232,"h":82},{"id":"15d84497.52381b","type":"Context-Broker","name":"","endpoint":"http://fiware-orion-ld:1026","service":"","servicepath":"","idmEndpoint":""},{"id":"95f6c009.fa934","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"015aab3a6c0fb8c3","type":"ui_spacer","z":"fd2493709155e47e","name":"spacer","group":"160e81fb.f1c86e","order":17,"width":2,"height":1},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"b63d1f91.68095","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"26e8fe8026c92abb","type":"ui_group","name":"Properties","tab":"b63d1f91.68095","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4128a70510a0cd4e","type":"ui_group","name":"Preview","tab":"b63d1f91.68095","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b63d1f91.68095","type":"ui_tab","name":"File Manager","icon":"folder_open","order":3,"disabled":false,"hidden":false},{"id":"ade1f84b9abbf285","type":"ui_group","name":"Monitoring data","tab":"e6013c6f.69328","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a9912d64.97094","type":"ui_group","name":"System Information","tab":"e6013c6f.69328","order":1,"disp":true,"width":"6"},{"id":"b6cc1aae65862dae","type":"ui_group","name":"Realtime","tab":"e6013c6f.69328","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f6e5eaea1a3d31cf","type":"ui_group","name":"Loadavg","tab":"e6013c6f.69328","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e6013c6f.69328","type":"ui_tab","name":"System Monitor","icon":"memory","order":4,"disabled":false,"hidden":false},{"id":"c022499a.8456e8","type":"NGSI-Entity","z":"1d4de0a0.3422df","name":"","endpoint":"15d84497.52381b","protocol":"LD","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":370,"y":80,"wires":[["1e4925bc.e9d3ba"]]},{"id":"81fc8d2a.50e54","type":"inject","z":"1d4de0a0.3422df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"urn:entities:E1","payloadType":"str","x":130,"y":40,"wires":[["c022499a.8456e8"]]},{"id":"43ba68c.c64a398","type":"NGSI-Update","z":"1d4de0a0.3422df","name":"","endpoint":"15d84497.52381b","protocol":"LD","updateMode":"upsert-replace","updateModev2":"append","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mimeType":"application/ld+json","x":370,"y":240,"wires":[["122e0790.4854c8"]]},{"id":"55debfa0.ddcf","type":"inject","z":"1d4de0a0.3422df","name":"set E1.P1 = 12","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E1\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":12}}","payloadType":"json","x":140,"y":180,"wires":[["43ba68c.c64a398"]]},{"id":"c4c1412a.84208","type":"inject","z":"1d4de0a0.3422df","name":"set E1.P1 = 24","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E1\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":24}}","payloadType":"json","x":140,"y":220,"wires":[["43ba68c.c64a398"]]},{"id":"8947534.0ef18b","type":"NGSI-Subscription","z":"1d4de0a0.3422df","name":"T, P1","endpoint":"15d84497.52381b","protocol":"LD","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","entityType":"T","watchedAttributes":"P1","q":"","notificationMode":"normalized","notificationEndpoint":"http://fiware-node-red:1880/T","notificationAttributes":"","mimeType":"application/ld+json","x":350,"y":360,"wires":[["217df94f.4b12d6"]]},{"id":"4d0d6303.6354fc","type":"http in","z":"1d4de0a0.3422df","name":"","url":"/T","method":"post","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["d7265125.a7a54"]]},{"id":"d7265125.a7a54","type":"json","z":"1d4de0a0.3422df","name":"","property":"payload","action":"","pretty":false,"x":350,"y":420,"wires":[["9cc8f9b8.29da58"]]},{"id":"8086a035.db37c","type":"inject","z":"1d4de0a0.3422df","name":"subscribe","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":360,"wires":[["8947534.0ef18b"]]},{"id":"122e0790.4854c8","type":"debug","z":"1d4de0a0.3422df","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"5e26eda2.2282a4","type":"debug","z":"1d4de0a0.3422df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"cdd0301e.aebaa","type":"debug","z":"1d4de0a0.3422df","name":"P1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.P1.value","statusType":"msg","x":690,"y":40,"wires":[]},{"id":"1e4925bc.e9d3ba","type":"json","z":"1d4de0a0.3422df","name":"","property":"payload","action":"","pretty":false,"x":550,"y":80,"wires":[["cdd0301e.aebaa","d8315466.295e08"]]},{"id":"e3e83f05.aad23","type":"http request","z":"1d4de0a0.3422df","name":"GET","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://fiware-orion-ld:1026/ngsi-ld/v1/subscriptions/","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":480,"wires":[["fe3f614c.1a6e8"]]},{"id":"bbdb248d.38a688","type":"inject","z":"1d4de0a0.3422df","name":"list subscriptions","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":480,"wires":[["e3e83f05.aad23"]]},{"id":"fe3f614c.1a6e8","type":"split","z":"1d4de0a0.3422df","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":480,"wires":[["e12f45d8.c42638","11cb989c.650d57"]]},{"id":"6a195e60.90594","type":"http request","z":"1d4de0a0.3422df","name":"DELETE","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://fiware-orion-ld:1026/ngsi-ld/v1/subscriptions/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":540,"wires":[["e3e83f05.aad23"]]},{"id":"6764b7e7.1e2138","type":"inject","z":"1d4de0a0.3422df","name":"delete last subscription","props":[{"p":"topic","v":"lastSubId","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":160,"y":540,"wires":[["6a195e60.90594"]]},{"id":"e12f45d8.c42638","type":"change","z":"1d4de0a0.3422df","name":"","rules":[{"t":"set","p":"lastSubId","pt":"flow","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":480,"wires":[["af17b70.b20be48"]]},{"id":"217df94f.4b12d6","type":"debug","z":"1d4de0a0.3422df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.subscriptionId","targetType":"msg","statusVal":"payload.statusCode","statusType":"msg","x":620,"y":360,"wires":[]},{"id":"af17b70.b20be48","type":"join","z":"1d4de0a0.3422df","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":910,"y":480,"wires":[["5e26eda2.2282a4"]]},{"id":"9cc8f9b8.29da58","type":"debug","z":"1d4de0a0.3422df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.data[0].P1.value","statusType":"msg","x":570,"y":420,"wires":[]},{"id":"11cb989c.650d57","type":"debug","z":"1d4de0a0.3422df","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.id","statusType":"msg","x":710,"y":520,"wires":[]},{"id":"d37f713c.b326a","type":"inject","z":"1d4de0a0.3422df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"urn:entities:E2","payloadType":"str","x":130,"y":80,"wires":[["c022499a.8456e8"]]},{"id":"8621d02b.926e6","type":"inject","z":"1d4de0a0.3422df","name":"set E3.P1 = 48, P2 = 60","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E3\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":48},\"P2\":{\"type\":\"Property\",\"value\":60}}","payloadType":"json","x":160,"y":300,"wires":[["43ba68c.c64a398"]]},{"id":"528d901b.75bc4","type":"inject","z":"1d4de0a0.3422df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"urn:entities:E3","payloadType":"str","x":130,"y":120,"wires":[["c022499a.8456e8"]]},{"id":"f7713883.11df18","type":"inject","z":"1d4de0a0.3422df","name":"set E2.P2 = 36","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E2\",\"type\":\"T\",\"P2\":{\"type\":\"Property\",\"value\":36}}","payloadType":"json","x":140,"y":260,"wires":[["43ba68c.c64a398"]]},{"id":"d8315466.295e08","type":"debug","z":"1d4de0a0.3422df","name":"P2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.P2.value","statusType":"msg","x":690,"y":120,"wires":[]},{"id":"67f0074e.b87a18","type":"http request","z":"d407a022.7d349","name":"GET file","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/zeldalegends/gitpod-docker-compose/contents/node-red/flows.json","tls":"","persist":false,"proxy":"","authType":"bearer","x":540,"y":140,"wires":[["8a12ff3b.9f55e"]]},{"id":"c942f6f5.a0cdf8","type":"http request","z":"d407a022.7d349","name":"PUT file","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/zeldalegends/gitpod-docker-compose/contents/node-red/flows.json","tls":"","persist":false,"proxy":"","authType":"bearer","x":540,"y":220,"wires":[["9f40c137.80492"]]},{"id":"15e13177.914e0f","type":"change","z":"d407a022.7d349","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"Node-RED\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["67f0074e.b87a18"]]},{"id":"22b165fd.02e6ea","type":"comment","z":"d407a022.7d349","name":"GitHub Token: 29d24ed4473b763c618e7b2e4b20a5994dc0ce82","info":"29d24ed4473b763c618e7b2e4b20a5994dc0ce82","x":490,"y":60,"wires":[]},{"id":"7a6cb29a.ff8eac","type":"inject","z":"d407a022.7d349","name":"datetime","props":[{"p":"topic","v":"$now()","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":140,"wires":[["15e13177.914e0f"]]},{"id":"9f40c137.80492","type":"debug","z":"d407a022.7d349","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"a59fd57c.f03e98","type":"change","z":"d407a022.7d349","name":"prepare commit","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\": \"Node-RED\"}","tot":"json"},{"t":"set","p":"payload.content","pt":"msg","to":"$base64encode(content)","tot":"jsonata"},{"t":"set","p":"payload.message","pt":"msg","to":"test.txt updated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["c942f6f5.a0cdf8","9f40c137.80492"]]},{"id":"8a12ff3b.9f55e","type":"template","z":"d407a022.7d349","name":"update file","field":"content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <body>\n    File updated: {{topic}}.\n  </body>\n</html>","output":"str","x":730,"y":140,"wires":[["a59fd57c.f03e98"]]},{"id":"f279627921458d5f","type":"debug","z":"ba9285a6.957868","name":"GitHub vars","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"bdd706d8fb85efbd","type":"change","z":"ba9285a6.957868","name":"set flow.Github","rules":[{"t":"set","p":"Github.bearer","pt":"flow","to":"$contains($lowercase(token), \"bearer \") ? token : (\"bearer \" & token)","tot":"jsonata"},{"t":"set","p":"Github.owner","pt":"flow","to":"username","tot":"msg"},{"t":"set","p":"Github.repo","pt":"flow","to":"repository","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["f279627921458d5f"]]},{"id":"f87fc2c33a8787e4","type":"comment","z":"ba9285a6.957868","name":"README","info":"Se il push su [GitHub](https://github.com/hybuild-project/heroku)\nva in errore per i certificati, inserire:\n```\nNODE_TLS_REJECT_UNAUTHORIZED = 0\n```\nin [Config Vars](https://dashboard.heroku.com/apps/hybuild/settings)\nnella [Dashboard](https://dashboard.heroku.com/apps)\ndi [Heroku](https://www.heroku.com).","x":900,"y":160,"wires":[]},{"id":"172d6356ab04a229","type":"http request","z":"ba9285a6.957868","name":"PUT github","method":"PUT","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/{{owner}}/{{repo}}/contents/{{{filename}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":460,"wires":[["0c7340d2a44049f7"]]},{"id":"3e5ce0e41afcd72f","type":"http request","z":"ba9285a6.957868","name":"GET github","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/{{owner}}/{{repo}}/contents/{{{filename}}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":220,"wires":[["e866bd89f8560646"]]},{"id":"64523d55e5caf6a2","type":"file in","z":"ba9285a6.957868","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":380,"wires":[["48decdeb736e977e"]]},{"id":"749b59e6136e3253","type":"change","z":"ba9285a6.957868","name":"","rules":[{"t":"set","p":"sha","pt":"msg","to":"payload.sha","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[["64523d55e5caf6a2"]]},{"id":"48decdeb736e977e","type":"change","z":"ba9285a6.957868","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"content\": $base64encode(payload)}","tot":"jsonata"},{"t":"set","p":"payload.message","pt":"msg","to":"Saved from Node-RED editor","tot":"str"},{"t":"move","p":"sha","pt":"msg","to":"payload.sha","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":380,"wires":[["69472f5dbcdf5382"]]},{"id":"e866bd89f8560646","type":"delay","z":"ba9285a6.957868","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":300,"wires":[["749b59e6136e3253"]]},{"id":"69472f5dbcdf5382","type":"change","z":"ba9285a6.957868","name":"set msg.headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\":\"Node-RED\"}","tot":"json"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"bearer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["172d6356ab04a229"]]},{"id":"acda9dd01f83bbe0","type":"debug","z":"ba9285a6.957868","name":"commit statusCode","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"statusCode","statusType":"msg","x":870,"y":540,"wires":[]},{"id":"43dcd85b58dfee39","type":"change","z":"ba9285a6.957868","name":"set msg.headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"User-Agent\":\"Node-RED\"}","tot":"json"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"bearer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[["3e5ce0e41afcd72f"]]},{"id":"eaf63b0745580f85","type":"change","z":"ba9285a6.957868","name":"get flow.Github","rules":[{"t":"set","p":"bearer","pt":"msg","to":"Github.bearer","tot":"flow"},{"t":"set","p":"owner","pt":"msg","to":"Github.owner","tot":"flow"},{"t":"set","p":"repo","pt":"msg","to":"Github.repo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":160,"wires":[["43dcd85b58dfee39"]]},{"id":"0c7340d2a44049f7","type":"change","z":"ba9285a6.957868","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":540,"wires":[["acda9dd01f83bbe0"]]},{"id":"3118e4be366f0844","type":"comment","z":"ba9285a6.957868","name":"Github token","info":"Repository:\nhttps://github.com/${GITHUB_USERNAME}/${GITHUB_REPOSITORY}\n\nToken:\nhttps://github.com/settings/tokens","x":890,"y":40,"wires":[]},{"id":"581edb20c9a627e2","type":"change","z":"ba9285a6.957868","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["eaf63b0745580f85"]]},{"id":"7c55382072ac5ecd","type":"inject","z":"ba9285a6.957868","name":"flows_cred.json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"flows_cred.json","payloadType":"str","x":120,"y":220,"wires":[["581edb20c9a627e2"]]},{"id":"6efcdb36f7b67ad3","type":"inject","z":"ba9285a6.957868","name":"flows.json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"flows.json","payloadType":"str","x":100,"y":200,"wires":[["581edb20c9a627e2"]]},{"id":"f3b82308cbd26c4e","type":"inject","z":"ba9285a6.957868","name":"settings.js","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"settings.js","payloadType":"str","x":100,"y":180,"wires":[["581edb20c9a627e2"]]},{"id":"826cd1312e95863f","type":"inject","z":"ba9285a6.957868","name":"package.json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"package.json","payloadType":"str","x":110,"y":160,"wires":[["581edb20c9a627e2"]]},{"id":"9ee5ee3ce991d462","type":"inject","z":"ba9285a6.957868","name":".config.users.json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":".config.users.json","payloadType":"str","x":120,"y":140,"wires":[["581edb20c9a627e2"]]},{"id":"30b8aaf6d52456ce","type":"inject","z":"ba9285a6.957868","g":"416fb17dde932093","name":"SETUP","props":[{"p":"token","v":"GITHUB_TOKEN","vt":"env"},{"p":"username","v":"GITHUB_USERNAME","vt":"env"},{"p":"repository","v":"GITHUB_REPOSITORY","vt":"env"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":440,"y":60,"wires":[["bdd706d8fb85efbd"]]},{"id":"747fe50123c5990e","type":"split","z":"fb0a241d6f060dcd","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":160,"wires":[["6942168e7a7817ba"]]},{"id":"6942168e7a7817ba","type":"switch","z":"fb0a241d6f060dcd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["268d2da258a6f716"]]},{"id":"50c724f39452c1bf","type":"exec","z":"fb0a241d6f060dcd","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":170,"y":160,"wires":[["747fe50123c5990e"],["8fd7b9fac522b901"],["fcf1af30198bee50"]]},{"id":"8fd7b9fac522b901","type":"debug","z":"fb0a241d6f060dcd","name":"STDERR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":220,"wires":[]},{"id":"6f5f58a9fd0a26c9","type":"change","z":"fb0a241d6f060dcd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"cd \" & start & \" ; ls\" & (hidden ? \" -a\" : \"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["50c724f39452c1bf"]]},{"id":"fcf1af30198bee50","type":"debug","z":"fb0a241d6f060dcd","name":"RETURN CODE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":360,"y":280,"wires":[]},{"id":"bd3e111b30301bef","type":"join","z":"fb0a241d6f060dcd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":160,"wires":[[]]},{"id":"268d2da258a6f716","type":"change","z":"fb0a241d6f060dcd","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["bd3e111b30301bef"]]},{"id":"91618269345c9b5a","type":"ui_button","z":"fd2493709155e47e","name":"Refresh","group":"160e81fb.f1c86e","order":10,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"#5CFEF2","bgcolor":"","className":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":100,"y":380,"wires":[["874dcadb8b86c83d"]]},{"id":"fc10e0dafc44c769","type":"ui_button","z":"fd2493709155e47e","name":"Delete","group":"160e81fb.f1c86e","order":8,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"#f31100","className":"","icon":"delete","payload":"","payloadType":"str","topic":"","topicType":"str","x":90,"y":440,"wires":[["f115a2bc122c7201"]]},{"id":"f115a2bc122c7201","type":"function","z":"fd2493709155e47e","name":"get flow.File","func":"// Get the filename from the flow context\nlet filename = flow.get(\"File\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename === undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0] !== \".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":440,"wires":[["b25609b65f7426c8"]]},{"id":"30c322a137fb9155","type":"file","z":"fd2493709155e47e","name":"delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":920,"y":440,"wires":[["91618269345c9b5a"]]},{"id":"9618a7d3262da78d","type":"http in","z":"fd2493709155e47e","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["aca8d6bf153a2f2e"]]},{"id":"8aeaad20c7c71351","type":"http response","z":"fd2493709155e47e","name":"","statusCode":"","headers":{},"x":790,"y":560,"wires":[]},{"id":"aca8d6bf153a2f2e","type":"function","z":"fd2493709155e47e","name":"extract file","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":560,"wires":[["4ab5604bd381f56f"]],"outputLabels":["Folder selected"]},{"id":"4ab5604bd381f56f","type":"file in","z":"fd2493709155e47e","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":560,"wires":[["2fbdf1b2f1e51187"]]},{"id":"2fbdf1b2f1e51187","type":"change","z":"fd2493709155e47e","name":"set headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/octet-stream","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":560,"wires":[["8aeaad20c7c71351"]]},{"id":"ac46716ba55a985b","type":"ui_button","z":"fd2493709155e47e","name":"Graph","group":"160e81fb.f1c86e","order":12,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"#FFFE00","bgcolor":"","className":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","topicType":"str","x":90,"y":500,"wires":[["95f454061a2fb879"]]},{"id":"95f454061a2fb879","type":"function","z":"fd2493709155e47e","name":"get flow.File","func":"// Get the filename from the flow context\nlet filename = flow.get(\"File\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename === undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0] !== \".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":500,"wires":[["56b9e648a82f0f9e"]]},{"id":"56b9e648a82f0f9e","type":"file in","z":"fd2493709155e47e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":500,"wires":[["2fc2950c9cc1e983"]]},{"id":"2fc2950c9cc1e983","type":"csv","z":"fd2493709155e47e","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":630,"y":500,"wires":[["57d4a10a48990a5b"]]},{"id":"57d4a10a48990a5b","type":"function","z":"fd2493709155e47e","name":"chart data","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"time\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].time, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":500,"wires":[["3995b2e8155a78af"]]},{"id":"a4a7c1b41f99642e","type":"ui_toast","z":"fd2493709155e47e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"className":"","topic":"","name":"ask","x":630,"y":440,"wires":[["4df07b1e9c4c73b2"]]},{"id":"b25609b65f7426c8","type":"change","z":"fd2493709155e47e","name":"set text","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Delete \" & filename & \"?\"","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Confirmation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":440,"wires":[["a4a7c1b41f99642e"]]},{"id":"4df07b1e9c4c73b2","type":"switch","z":"fd2493709155e47e","name":"yes?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":440,"wires":[["30c322a137fb9155"]]},{"id":"874dcadb8b86c83d","type":"function","z":"fd2493709155e47e","name":"set flow.Dir&Hidden","func":"let dir = flow.get(\"Dir\") || \"/\";\nflow.set(\"Dir\", dir);\n\nlet hidden = flow.get(\"Hidden\") || false;\nflow.set(\"Hidden\", hidden);\n\nif (msg.topic===\"parent\") {\n    var path = dir.split('/');\n    path.pop();\n    dir = path.join('/'); \n    if (dir===\"\") dir=\"/\";\n    flow.set(\"Dir\", dir);\n}\n\nif (msg.topic===\"change\") {\n    dir=msg.payload;    \n    flow.set(\"Dir\", dir);\n}\n\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    flow.set(\"Hidden\", hidden);\n}\n\n//if (msg.topic===\"refresh\") {\n//}\nnode.status({ fill: \"green\", shape: \"dot\", text: dir });\n\nmsg.payload = {\"start\":dir, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["1c8f7941c9d116e6","dbc0201154ddb1b2","8880ec14d3bbd34b"]]},{"id":"5adbf59db2d4b64f","type":"ui_button","z":"fd2493709155e47e","name":"Parent","group":"160e81fb.f1c86e","order":4,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"parent","topicType":"str","x":90,"y":160,"wires":[["874dcadb8b86c83d"]]},{"id":"d560959631afbf82","type":"ui_button","z":"fd2493709155e47e","name":"Home","group":"160e81fb.f1c86e","order":6,"width":1,"height":1,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"#51aa00","className":"","icon":"home","payload":"HOME","payloadType":"global","topic":"change","topicType":"str","x":90,"y":100,"wires":[["874dcadb8b86c83d"]]},{"id":"1f60efffec2661cc","type":"ui_switch","z":"fd2493709155e47e","name":"Hidden","label":"","tooltip":"Show hidden files","group":"160e81fb.f1c86e","order":14,"width":1,"height":1,"passthru":false,"decouple":"false","topic":"hidden","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","animate":true,"className":"","x":100,"y":220,"wires":[["874dcadb8b86c83d"]]},{"id":"f3b40cbd5c41ca85","type":"change","z":"fd2493709155e47e","name":"chdir","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"change","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":280,"wires":[["874dcadb8b86c83d"]]},{"id":"0f87aa78c13d2d5c","type":"change","z":"fd2493709155e47e","name":"set flow.File","rules":[{"t":"set","p":"File","pt":"flow","to":"payload.name","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":140,"wires":[["4eccfb8e73e80732"]]},{"id":"d0799928afba9280","type":"function","z":"fd2493709155e47e","d":true,"name":"table data","func":"for (var i = 0; i < msg.payload.length; i++) {\n//  msg.payload[i].stat.size = msg.payload[i].stat.size / 1024;\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n//  msg.payload[i].fname = (msg.payload[i].stat.isFile?\"\":\"[\") + msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+(msg.payload[i].stat.isFile?\"\":\"]\");\n    msg.payload[i].fname = (msg.payload[i].stat.isFile ? \"\" : \"<b>[\") + msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '') + (msg.payload[i].stat.isFile ? \"\" : \"]</b>\");\n    if (msg.payload[i].fname.startsWith('.') || msg.payload[i].fname.startsWith('<b>[.'))\n        msg.payload[i].fname = \"<i>\" + msg.payload[i].fname + \"</i>\";\n//  msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"/download?filename=\" + msg.payload[i].name;\n    msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"<a href=\\\"/download?filename=\" + msg.payload[i].name + \"\\\"><img src=\\\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACf0lEQVR42mNkwAE0ApLF/wqIKwOZ/5k/vLxzY8Pc19jUMaILGPdsjfik4VDy5ieD0X+oPBPQEBF2htN8Nw50nynxXoPVADEzVw6himVLX/znCmLAAyQZv6142xEV/+rU7l8oBiitfrn2HRMPXDPQVgZWJgj797//DP+QHCv878uyu6Hi0XADJKuXR3438luGbJO7GAPDbP2/YHbqsc8MO7/wAVUzweW5zm0KetYauR5sgPCiJ2f/cgsa4TIg7fA7hl1vWRj+cfIDnQYxhPnL22Nv4+WsGZnldSR4+048AxrPCHOSuzgDg6nAf4ZUuX9gxbOvfWI49/4fw643TAy/OaCG/P//73ORmSgji56TDU/95sPItjuLMjDM1PvLwAZ18a+//xmyj31g2PcWKMDMzPCbnRfsnS/1nqaMzFrWtrzNuw6hhzbMEKBNYM37gZoZmRghbmRiZvjFxs3wqcrZjJFRQEKab86dx4yMjIyYhvxnYPnyjmH/G0awZogSKM3I+O9FmpY4WISn68h5FmVDfZAmTmYGBjvh/3BDmP7+YWD++xOs6cCL3wx/gBEMYv++dfrU63pfc7CtrFZB8dxFixaAwpGf5R9DtsRnRKwDxRih9NQ7fxl+MjCDDXjbEx/x48yOlTB1zFxFi9azWQf7gvzM+O8vA8uvL+DEBFIMcTHC+d8Or177fmpOGFDgH8LfrOx8XDkzl7Jah/iAFf//x8D2+xsDM5CGRTBU8/r3MwrjGP7+/oItM7GymvvFs/sX5DGrmWqDgo7t7w8Glr+///2+ffrS501TJ/44u3MJUN0fnLkRCtgYuQXkmMQVlBj+A93y8v7d/98+PgElCXSFAKXm39j74So1AAAAAElFTkSuQmCC\\\" /></a>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["b8b88aab13c13447"]]},{"id":"b8b88aab13c13447","type":"sort","z":"fd2493709155e47e","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$lowercase(fname)\t","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":270,"y":140,"wires":[["54cee00c2aab4588"]]},{"id":"e02e46b423ddef65","type":"switch","z":"fd2493709155e47e","name":"is file?","property":"payload.stat.isFile","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":140,"wires":[["0f87aa78c13d2d5c","2999856f3c6017d7"],["f3b40cbd5c41ca85"]]},{"id":"f696127a39b59722","type":"yaml","z":"fd2493709155e47e","property":"payload","name":"","x":770,"y":100,"wires":[["dcfa53334425c5c5"]]},{"id":"dcfa53334425c5c5","type":"ui_template","z":"fd2493709155e47e","group":"26e8fe8026c92abb","name":"Details","order":2,"width":6,"height":6,"format":"<textarea rows=\"21\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":930,"y":100,"wires":[[]]},{"id":"968d285a67eab4bb","type":"inject","z":"fd2493709155e47e","name":"INIT","props":[{"p":"payload"},{"p":"ui_control","v":"{\"tabulator\":{\"selectable\":1}}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":90,"y":40,"wires":[["54cee00c2aab4588","b3b5c93025760016"]]},{"id":"4eccfb8e73e80732","type":"file in","z":"fd2493709155e47e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":920,"y":200,"wires":[["bffe6dff2143e980"]]},{"id":"4931b2b91991fb77","type":"change","z":"fd2493709155e47e","name":"clean","rules":[{"t":"delete","p":"payload.link","pt":"msg"},{"t":"delete","p":"payload.fname","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":100,"wires":[["f696127a39b59722"]]},{"id":"3995b2e8155a78af","type":"ui_chart","z":"fd2493709155e47e","name":"","group":"26e8fe8026c92abb","order":3,"width":6,"height":4,"label":"CSV file","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":920,"y":500,"wires":[[]]},{"id":"aa26cdb6da42d2f5","type":"ui_form","z":"fd2493709155e47e","name":"Editor","label":"","group":"4128a70510a0cd4e","order":2,"width":0,"height":0,"options":[{"label":"File name","value":"filename","type":"text","required":true,"rows":null},{"label":"","value":"content","type":"multiline","required":true,"rows":9}],"formValue":{"filename":"","content":""},"payload":"","submit":"Save","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":930,"y":320,"wires":[["7ec0ae66e287c97c"]]},{"id":"bffe6dff2143e980","type":"function","z":"fd2493709155e47e","name":"form data","func":"var cloned = RED.util.cloneMessage(msg);\nvar formdata = {payload:{}};\nformdata.payload.filename = cloned.filename;\nformdata.payload.content = cloned.payload;\nreturn formdata;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":260,"wires":[["aa26cdb6da42d2f5"]]},{"id":"7ec0ae66e287c97c","type":"change","z":"fd2493709155e47e","name":"set msg","rules":[{"t":"move","p":"payload.filename","pt":"msg","to":"filename","tot":"msg"},{"t":"move","p":"payload.content","pt":"msg","to":"content","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"\"Save \" & filename & \"?\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["50d209d0b31f25a6"]]},{"id":"50d209d0b31f25a6","type":"ui_toast","z":"fd2493709155e47e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"className":"","topic":"","name":"confirm","x":480,"y":380,"wires":[["d6dd05798b041c4a"]]},{"id":"d6dd05798b041c4a","type":"switch","z":"fd2493709155e47e","name":"yes?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":380,"wires":[["c84fa79f2496e377"]]},{"id":"5aec8815f6ae6c9c","type":"file","z":"fd2493709155e47e","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":920,"y":380,"wires":[[]]},{"id":"c84fa79f2496e377","type":"change","z":"fd2493709155e47e","name":"content","rules":[{"t":"move","p":"content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[["5aec8815f6ae6c9c"]]},{"id":"b3b5c93025760016","type":"exec","z":"fd2493709155e47e","command":"pwd","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":40,"wires":[["1a1a090377e2b43e"],[],[]]},{"id":"1a1a090377e2b43e","type":"change","z":"fd2493709155e47e","g":"34047250a1f44ce1","name":"","rules":[{"t":"set","p":"HOME","pt":"global","to":"$trim(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":60,"wires":[["d560959631afbf82"]]},{"id":"8096898980123bce","type":"change","z":"fd2493709155e47e","name":"get Dir","rules":[{"t":"set","p":"path","pt":"msg","to":"Dir","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"path & \"/\" & file.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":40,"wires":[["5af00f52190803f6"]]},{"id":"5af00f52190803f6","type":"file","z":"fd2493709155e47e","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":920,"y":40,"wires":[[]]},{"id":"1c8f7941c9d116e6","type":"change","z":"fd2493709155e47e","name":"is dir","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"payload.start","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["2999856f3c6017d7"]]},{"id":"2999856f3c6017d7","type":"ui_text","z":"fd2493709155e47e","group":"160e81fb.f1c86e","order":2,"width":12,"height":1,"name":"","label":"Path:","format":"{{msg.payload.name}}","layout":"row-left","className":"","x":630,"y":280,"wires":[]},{"id":"8880ec14d3bbd34b","type":"function","z":"fd2493709155e47e","d":true,"name":"File Lister","func":"let totalFiles = 0\n\nlet options = {\n    alwaysStat: true,\n    type: 'files_directories',\n    depth: 0\n}\n\nif (msg.payload.hidden) {\n    options.fileFilter = ['*', '.*'];\n    options.directoryFilter = ['*', '.*'];\n} else {\n    options.fileFilter = ['*'];\n    options.directoryFilter = ['*'];\n}\n\nlet arrayOut = []\n\nreaddirp(msg.payload.start, options)\n    // Called if a found entry cannot be accessed (e.g. permissions)\n    .on('warn', (err) => {\n        if (node.showWarnings === true) node.error('File could not be accessed', err)\n    })\n    // Fatal error\n    .on('error', (err) => {\n        node.error('Error processing folder listing', err)\n    })\n    // called for each entry found\n    .on('data', (entry) => {\n        var file = entry.basename\n\n        // Do we want to include file stats?\n        file = entry.fullPath;\n        file = { name: file }\n        try {\n            /** NB: some stats props are BigInt which cannot be serialised (e.g. break debug node)\n             *  so convert to Number but that may truncate the value.\n             * @see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt\n             **/\n            file.stat = {\n                size: Number(entry.stats.size), //in bytes\n                created: entry.stats.birthtime, // @since v1.1.0 ctime no longer used - see Node.js docs\n                changed: entry.stats.mtime,\n                accessed: entry.stats.atime,\n                statusChanged: entry.stats.ctime, // @since v1.1.0\n                uid: Number(entry.stats.uid),\n                gid: Number(entry.stats.gid),\n                mode: '0x' + entry.stats.mode.toString(16),\n                isBlockDevice: entry.stats.isBlockDevice(),\n                isCharacterDevice: entry.stats.isCharacterDevice(),\n                isDirectory: entry.stats.isDirectory(),\n                isFIFO: entry.stats.isFIFO(),\n                isFile: entry.stats.isFile(),\n                isSocket: entry.stats.isSocket(),\n                isSymbolicLink: entry.stats.isSymbolicLink(),\n            }\n        } catch (err) {\n            file.stat = { 'error': 'Cannot stat file', 'err': err }\n        }\n        \n        arrayOut.push(file)\n        node.status({ fill: 'green', shape: 'dot', text: '# files ' + ++totalFiles })\n    })\n    // called when all entries have been output\n    .on('end', () => {\n        if ( arrayOut.length > 0 ) {\n             node.status({fill:'blue',shape:'dot',text:'# files ' + arrayOut.length})\n        } else {\n            node.status({ fill: 'yellow', shape: 'dot', text: 'Empty Folder' })\n        }\n        msg.payload = arrayOut\n        node.send(msg)\n    })\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":220,"wires":[["d0799928afba9280"]],"icon":"node-red/file.svg"},{"id":"dbc0201154ddb1b2","type":"subflow:fb0a241d6f060dcd","z":"fd2493709155e47e","name":"","env":[],"x":500,"y":640,"wires":[["81f978b52e2a4851"]]},{"id":"81f978b52e2a4851","type":"function","z":"fd2493709155e47e","name":"table data (reduced)","func":"for (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n    msg.payload[i].link = \"<a href=\\\"/download?filename=\" + msg.payload[i].name + \"\\\"><img src=\\\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACf0lEQVR42mNkwAE0ApLF/wqIKwOZ/5k/vLxzY8Pc19jUMaILGPdsjfik4VDy5ieD0X+oPBPQEBF2htN8Nw50nynxXoPVADEzVw6himVLX/znCmLAAyQZv6142xEV/+rU7l8oBiitfrn2HRMPXDPQVgZWJgj797//DP+QHCv878uyu6Hi0XADJKuXR3438luGbJO7GAPDbP2/YHbqsc8MO7/wAVUzweW5zm0KetYauR5sgPCiJ2f/cgsa4TIg7fA7hl1vWRj+cfIDnQYxhPnL22Nv4+WsGZnldSR4+048AxrPCHOSuzgDg6nAf4ZUuX9gxbOvfWI49/4fw643TAy/OaCG/P//73ORmSgji56TDU/95sPItjuLMjDM1PvLwAZ18a+//xmyj31g2PcWKMDMzPCbnRfsnS/1nqaMzFrWtrzNuw6hhzbMEKBNYM37gZoZmRghbmRiZvjFxs3wqcrZjJFRQEKab86dx4yMjIyYhvxnYPnyjmH/G0awZogSKM3I+O9FmpY4WISn68h5FmVDfZAmTmYGBjvh/3BDmP7+YWD++xOs6cCL3wx/gBEMYv++dfrU63pfc7CtrFZB8dxFixaAwpGf5R9DtsRnRKwDxRih9NQ7fxl+MjCDDXjbEx/x48yOlTB1zFxFi9azWQf7gvzM+O8vA8uvL+DEBFIMcTHC+d8Or177fmpOGFDgH8LfrOx8XDkzl7Jah/iAFf//x8D2+xsDM5CGRTBU8/r3MwrjGP7+/oItM7GymvvFs/sX5DGrmWqDgo7t7w8Glr+///2+ffrS501TJ/44u3MJUN0fnLkRCtgYuQXkmMQVlBj+A93y8v7d/98+PgElCXSFAKXm39j74So1AAAAAElFTkSuQmCC\\\" /></a>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":640,"wires":[["b8b88aab13c13447"]]},{"id":"c5268070.c55a3","type":"ui_template","z":"fd2493709155e47e","group":"26e8fe8026c92abb","name":"upload","order":4,"width":6,"height":1,"format":"\n<body>\n<button class=\"md-raised md-button md-ink-ripple\" onclick=\"importData()\">Upload</button>    \n\n<script>\nlet restoreScope = scope;\n\nfunction importData() {\n  let input = document.createElement('input');\n  input.type = 'file';\n  input.id = 'restoreBtn';\n  input.onchange = _ => {\n    // you can use this method to get file and perform respective operations\n        let fReader = new FileReader();\n        fReader.readAsArrayBuffer(input.files[0]);\n        fReader.onloadend = function(event){\n        restoreScope.send({\n            file:{name:input.files[0].name},\n            payload:event.target.result\n          });}\n        };\n  input.click();\n}\n</script>\n</body>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":630,"y":60,"wires":[["8096898980123bce"]]},{"id":"25a4c644.a0228a","type":"inject","z":"fd2493709155e47e","name":"INIT","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":90,"y":320,"wires":[["91618269345c9b5a"]]},{"id":"54cee00c2aab4588","type":"ui_table","z":"fd2493709155e47e","group":"160e81fb.f1c86e","name":"","order":18,"width":12,"height":10,"columns":[{"field":"fname","title":"Name","width":"35%","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"stat.size","title":"Size","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stat.created","title":"Created","width":"22%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stat.changed","title":"Changed","width":"22%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"link","title":"","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":470,"y":140,"wires":[["e02e46b423ddef65","4931b2b91991fb77"]]},{"id":"b382101fb64bb6cd","type":"debug","z":"46cfb935.0ec9d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":360,"wires":[]},{"id":"d59207da68d0e961","type":"ui_chart","z":"46cfb935.0ec9d8","name":"","group":"ade1f84b9abbf285","order":2,"width":"6","height":"5","label":"Memory","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":100,"wires":[[]]},{"id":"4b5a96f2a67089df","type":"ui_chart","z":"46cfb935.0ec9d8","name":"","group":"ade1f84b9abbf285","order":1,"width":0,"height":0,"label":"Processor","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":60,"wires":[[]]},{"id":"d433dfb4813e729c","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":1,"width":"0","height":"0","name":"","label":"Uptime os/node","format":"{{msg.payload.os_uptime}} / {{msg.payload.p_uptime}}","layout":"row-spread","className":"","x":540,"y":220,"wires":[]},{"id":"e475bf4d1347ce6d","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":2,"width":"0","height":"0","name":"","label":"Hostname (IP)","format":"{{msg.payload.hostname}} ({{msg.payload.address}})","layout":"row-right","className":"","x":540,"y":260,"wires":[]},{"id":"38fb665c04a2fa2b","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":3,"width":"0","height":"0","name":"","label":"Platform Arch","format":"{{msg.payload.platform}} {{msg.payload.arch}} {{msg.payload.endianness}}","layout":"row-spread","className":"","x":540,"y":300,"wires":[]},{"id":"12262ec3b4702e3b","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":4,"width":"0","height":"0","name":"","label":"Cloud Release","format":"{{msg.payload.release}}","layout":"row-spread","className":"","x":540,"y":340,"wires":[]},{"id":"93fcb0ebab0ad1fb","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":5,"width":"0","height":"0","name":"CPU Model","label":"CPU #{{msg.payload.n_cores}}","format":"{{msg.payload.cpu_model}}","layout":"row-spread","className":"","x":530,"y":380,"wires":[]},{"id":"772de72b62e1e4e0","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":6,"width":"0","height":"0","name":"","label":"User info (GID:UID)","format":"{{msg.payload.username}} ({{msg.payload.gid}}:{{msg.payload.uid}})","layout":"row-spread","className":"","x":550,"y":460,"wires":[]},{"id":"990e8802adb04ed7","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":9,"width":"0","height":"0","name":"","label":"Node version","format":"{{msg.payload.node_version}}","layout":"row-spread","className":"","x":530,"y":580,"wires":[]},{"id":"1bb52214bb93b59c","type":"ui_gauge","z":"46cfb935.0ec9d8","name":"","group":"b6cc1aae65862dae","order":4,"width":"6","height":"3","gtype":"gage","title":"CPU","label":"units","format":"{{msg.payload.cpu_usage | number:3}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":80,"wires":[]},{"id":"87e284b688c9bc1d","type":"ui_gauge","z":"46cfb935.0ec9d8","name":"","group":"b6cc1aae65862dae","order":4,"width":"6","height":"3","gtype":"gage","title":"Heap","label":"MB","format":"{{msg.payload.used_heap_MB| number:2}} / {{msg.payload.tot_heap_MB| number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":160,"wires":[]},{"id":"d5f8bbdc8a50d1c4","type":"ui_gauge","z":"46cfb935.0ec9d8","name":"","group":"b6cc1aae65862dae","order":4,"width":"6","height":"3","gtype":"gage","title":"RAM","label":"GB","format":"{{msg.payload.used_ram_GB| number:2}} / {{msg.payload.tot_ram_GB| number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":510,"y":120,"wires":[]},{"id":"4a1850006419b797","type":"function","z":"46cfb935.0ec9d8","name":"node-os-utils","func":"var freemem = os.freemem();\nvar totalmem = os.totalmem();\nvar os_uptime = os.uptime();\nvar { user, system } = process.cpuUsage();\nvar { heapUsed, heapTotal } = process.memoryUsage();\nvar p_uptime = process.uptime();\nvar loadavg = os.loadavg();\n\ncpuUsage(perc => node.send({\n    payload: {\n        cpu_usage:    perc,\n        cpu_user:     user / 1000 / 1000,\n        cpu_system:   system / 1000 / 1000,\n\n        used_heap_MB: round(heapUsed / 1024 / 1024),\n        heap_usage:   round(heapUsed / heapTotal * 100),\n        tot_heap_MB:  round(heapTotal / 1024 / 1024),\n        free_heap_MB: round((heapTotal - heapUsed) / 1024 / 1024),\n        \n        free_ram_GB:  round(freemem / 1024 / 1024 / 1024),\n        tot_ram_GB:   round(totalmem / 1024 / 1024 / 1024),\n        ram_usage:    round((1 - freemem / totalmem) * 100),\n        used_ram_GB:  round((totalmem - freemem) / 1024 / 1024 / 1024),\n        \n        loadavg_1:    loadavg[0],\n        loadavg_5:    loadavg[1],\n        loadavg_15:   loadavg[2],\n\n        os_uptime_s:  os_uptime,\n        os_uptime:    timeConversion(os_uptime),\n        p_uptime_s:   p_uptime,\n        p_uptime:     timeConversion(p_uptime),\n\n        arch: os.arch(),\n        cpus: os.cpus(),\n        cpu_model: os.cpus()[os.cpus().length - 1].model,\n        cpu_speed: os.cpus()[os.cpus().length - 1].speed,\n        n_cores: os.cpus().length,\n        endianness: os.endianness(),\n        homedir: os.homedir(),\n        hostname: os.hostname(),\n        network: os.networkInterfaces(),\n        address: os.networkInterfaces().eth0[0].address,\n        platform: os.platform(),\n        release: os.release(),\n        type: os.type(),\n        userInfo: os.userInfo(),\n        gid: os.userInfo().gid,\n        uid: os.userInfo().uid,\n        username: os.userInfo().username,\n        shell: os.userInfo().shell,\n        os_version: os.version(),\n\n        cwd: process.cwd(),\n        node_version: process.version,\n\n        last_update: new Date()\n    }\n}))\n\n/**\n * Method used in node-os-utils\n * \n * @description Measure the CPU usage calculated between two different CPU usage samples\n * @param {function} cb A callback function the result is passed to\n * @param {number} [core=-1] The CPU core index to measure. When is not greater than -1 then it is \"averaged\" for all CPU cores.\n * @param {number} [sampleMs=1000]  The number of milliseconds between the CPU usage samples\n */\nfunction cpuUsage(cb, core, sampleMs) {\n    var deltaUsed;\n    var deltaIdle;\n    var timesKeys = [\"user\", \"nice\", \"sys\", \"irq\"];\n    var allCores = null === core || !(core > -1);\n\n    var byCore = (cpu, i) =>\n        allCores || core === i;\n\n    var bySampleKey = (sample, key) =>\n        sample.filter(byCore).reduce(\n            (sum, cpu) => sum + cpu.times[key], 0);\n\n    var sample0 = os.cpus();\n\n    setTimeout(function () {\n        var sample1 = os.cpus();\n\n        deltaUsed = timesKeys.reduce(\n            (diff, key) => diff + bySampleKey(sample1, key) - bySampleKey(sample0, key), 0);\n\n        deltaIdle = bySampleKey(sample1, \"idle\") - bySampleKey(sample0, \"idle\");\n\n        if (\"function\" === typeof cb) {\n            cb(100 * (deltaUsed / (deltaUsed + deltaIdle)));\n        }\n    }, sampleMs || 1000);\n}\n\nfunction round(n, d = 2) {\n    return Math.round(n * 10 ** d) / 10 ** d;\n}\n\nfunction timeConversion(seconds) {\n    var minutes = seconds / 60;\n    var hours = seconds / 3600;\n    var days = seconds / 86400;\n\n    if (seconds < 60) {\n        return seconds.toFixed(1) + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes.toFixed(1) + \" Min\";\n    } else if (hours < 24) {\n        return hours.toFixed(1) + \" Hrs\";\n    } else {\n        return days.toFixed(1) + \" Days\"\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":360,"wires":[["407393b06d188578","1bb52214bb93b59c","d5f8bbdc8a50d1c4","87e284b688c9bc1d","d433dfb4813e729c","7c204748fb1d30c6","9c89af026d6e876a","943a803ae4a09ae9","978f120d4b6d5d8d","e475bf4d1347ce6d","38fb665c04a2fa2b","12262ec3b4702e3b","93fcb0ebab0ad1fb","772de72b62e1e4e0","a72c3c707a0495a6","f66d1fae20c650a0","990e8802adb04ed7","716b83720f6ed7c3","b382101fb64bb6cd"]]},{"id":"a72c3c707a0495a6","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":7,"width":"0","height":"0","name":"Home (bash)","label":"Home (bash:{{msg.payload.shell}}) Current dir","format":"{{msg.payload.homedir}} {{msg.payload.cwd}} ","layout":"row-spread","className":"","x":530,"y":500,"wires":[]},{"id":"f66d1fae20c650a0","type":"ui_text","z":"46cfb935.0ec9d8","group":"a9912d64.97094","order":8,"width":"0","height":"0","name":"OS version","label":"{{msg.payload.type}} version","format":"{{msg.payload.os_version}}","layout":"row-spread","className":"","x":530,"y":540,"wires":[]},{"id":"407393b06d188578","type":"split","z":"46cfb935.0ec9d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":510,"y":40,"wires":[["e14bc855c64bcbec","1ff2be7d96afb5f0"]]},{"id":"e14bc855c64bcbec","type":"switch","z":"46cfb935.0ec9d8","name":"mem?","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"ram","vt":"str"},{"t":"cont","v":"heap","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":60,"wires":[[],["d59207da68d0e961"]]},{"id":"5a48bbed736ee220","type":"comment","z":"46cfb935.0ec9d8","name":"README","info":"### Function nodes\n```node-os-utils``` =\n```system mon``` + \n```system info```\n\n### Swith node\n*mem* = *ram* + *heap*\n\n### UI Widget configuration via msg.ui_control\nhttps://github.com/node-red/node-red-dashboard/blob/master/config-fields.md","x":100,"y":40,"wires":[]},{"id":"7c204748fb1d30c6","type":"ui_gauge","z":"46cfb935.0ec9d8","name":"","group":"f6e5eaea1a3d31cf","order":1,"width":"6","height":"2","gtype":"gage","title":"1 Minute","label":"load","format":"{{msg.payload.loadavg_1| number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1","seg2":"3","className":"","x":840,"y":500,"wires":[]},{"id":"9c89af026d6e876a","type":"ui_gauge","z":"46cfb935.0ec9d8","name":"","group":"f6e5eaea1a3d31cf","order":2,"width":"3","height":"3","gtype":"gage","title":"5 Minutes","label":"load","format":"{{msg.payload.loadavg_5| number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1","seg2":"3","className":"","x":840,"y":540,"wires":[]},{"id":"943a803ae4a09ae9","type":"ui_gauge","z":"46cfb935.0ec9d8","name":"","group":"f6e5eaea1a3d31cf","order":4,"width":"3","height":"3","gtype":"gage","title":"15 Minutes","label":"load","format":"{{msg.payload.loadavg_15| number:2}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1","seg2":"3","className":"","x":850,"y":580,"wires":[]},{"id":"52c2417885093efb","type":"ui_chart","z":"46cfb935.0ec9d8","name":"","group":"f6e5eaea1a3d31cf","order":0,"width":"6","height":"4","label":"CPU Load Average","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":460,"wires":[[]]},{"id":"978f120d4b6d5d8d","type":"split","z":"46cfb935.0ec9d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":510,"y":420,"wires":[["4fef2b553738432c"]]},{"id":"4fef2b553738432c","type":"switch","z":"46cfb935.0ec9d8","name":"load?","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"n_cores","vt":"str"},{"t":"cont","v":"loadavg","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":420,"wires":[["72daa15a9e8dee07"],["52c2417885093efb"]]},{"id":"eeac84aba4122de6","type":"inject","z":"46cfb935.0ec9d8","name":"5s","props":[],"repeat":"15","crontab":"","once":true,"onceDelay":"","topic":"","x":110,"y":360,"wires":[["4a1850006419b797"]]},{"id":"716b83720f6ed7c3","type":"change","z":"46cfb935.0ec9d8","name":"gauge","rules":[{"t":"set","p":"ui_control.max","pt":"msg","to":"payload.n_cores * 4","tot":"jsonata"},{"t":"set","p":"ui_control.seg1","pt":"msg","to":"payload.n_cores *1.5","tot":"jsonata"},{"t":"set","p":"ui_control.seg2","pt":"msg","to":"payload.n_cores * 3","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":540,"wires":[["7c204748fb1d30c6","9c89af026d6e876a","943a803ae4a09ae9"]]},{"id":"1ff2be7d96afb5f0","type":"switch","z":"46cfb935.0ec9d8","name":"cpu?","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"cpu_sys","vt":"str"},{"t":"cont","v":"cpu_us","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":20,"wires":[["4b5a96f2a67089df"],["4b5a96f2a67089df"]]},{"id":"72daa15a9e8dee07","type":"change","z":"46cfb935.0ec9d8","name":"warning","rules":[{"t":"set","p":"topic","pt":"msg","to":"warning","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload * 2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["52c2417885093efb"]]}]
