node-red/data/flows.json
[
    {
        "id": "1d4de0a0.3422df",
        "type": "tab",
        "label": "FIWARE Context Broker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d407a022.7d349",
        "type": "tab",
        "label": "GitHub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba9285a6.957868",
        "type": "tab",
        "label": "SAVE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48a7733923a33252",
        "type": "tab",
        "label": "Files v2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f29ecd9eab0f0d83",
        "type": "tab",
        "label": "System v3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb0a241d6f060dcd",
        "type": "subflow",
        "name": "File Lister",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "6f5f58a9fd0a26c9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 160,
                "wires": [
                    {
                        "id": "bd3e111b30301bef",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8b4ed14c3662bde0",
        "type": "subflow",
        "name": "File Lister (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "090e02cde5182e37"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 160,
                "wires": [
                    {
                        "id": "696679514ac5761c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3b87e799b2494ba5",
        "type": "subflow",
        "name": "File Lister (3)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "e7b4098e213106d3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 160,
                "wires": [
                    {
                        "id": "0c28977450b5fb04",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "416fb17dde932093",
        "type": "group",
        "z": "ba9285a6.957868",
        "name": "GitHub",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "30b8aaf6d52456ce"
        ],
        "x": 334,
        "y": 19,
        "w": 192,
        "h": 82
    },
    {
        "id": "4aa3f353bc04f7cb",
        "type": "group",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "style": {
            "stroke": "none",
            "label": true,
            "fill": "#e3f3d3"
        },
        "nodes": [
            "802db59f1dfafcb1"
        ],
        "x": 754,
        "y": 319,
        "w": 82,
        "h": 82
    },
    {
        "id": "6baee52f786c7c4a",
        "type": "group",
        "z": "48a7733923a33252",
        "name": "",
        "style": {
            "stroke": "none",
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "51c1136f0b3dfb11"
        ],
        "x": 334,
        "y": 19,
        "w": 232,
        "h": 82
    },
    {
        "id": "15d84497.52381b",
        "type": "Context-Broker",
        "name": "",
        "endpoint": "http://orion-ld:1026",
        "service": "",
        "servicepath": "",
        "idmEndpoint": ""
    },
    {
        "id": "95f6c009.fa934",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ade1f84b9abbf285",
        "type": "ui_group",
        "name": "Monitoring data",
        "tab": "e6013c6f.69328",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9912d64.97094",
        "type": "ui_group",
        "name": "System Information",
        "tab": "e6013c6f.69328",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b6cc1aae65862dae",
        "type": "ui_group",
        "name": "Realtime",
        "tab": "e6013c6f.69328",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f6e5eaea1a3d31cf",
        "type": "ui_group",
        "name": "Loadavg",
        "tab": "e6013c6f.69328",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6013c6f.69328",
        "type": "ui_tab",
        "name": "System Monitor",
        "icon": "memory",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "96202323dfa1b936",
        "type": "ui_spacer",
        "z": "48a7733923a33252",
        "name": "spacer",
        "group": "c2e5c6234f1ecb0c",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "c2e5c6234f1ecb0c",
        "type": "ui_group",
        "name": "File Browser",
        "tab": "fbb3939acbbee9df",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48c850657e8c3aa9",
        "type": "ui_group",
        "name": "Properties",
        "tab": "fbb3939acbbee9df",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b06f0a0a19cdec4",
        "type": "ui_group",
        "name": "Preview",
        "tab": "fbb3939acbbee9df",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbb3939acbbee9df",
        "type": "ui_tab",
        "name": "File Manager",
        "icon": "folder_open",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "747fe50123c5990e",
        "type": "split",
        "z": "fb0a241d6f060dcd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "6942168e7a7817ba"
            ]
        ]
    },
    {
        "id": "6942168e7a7817ba",
        "type": "switch",
        "z": "fb0a241d6f060dcd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "268d2da258a6f716"
            ]
        ]
    },
    {
        "id": "50c724f39452c1bf",
        "type": "exec",
        "z": "fb0a241d6f060dcd",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "747fe50123c5990e"
            ],
            [
                "8fd7b9fac522b901"
            ],
            [
                "fcf1af30198bee50"
            ]
        ]
    },
    {
        "id": "8fd7b9fac522b901",
        "type": "debug",
        "z": "fb0a241d6f060dcd",
        "name": "STDERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f5f58a9fd0a26c9",
        "type": "change",
        "z": "fb0a241d6f060dcd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"cd \" & start & \" ; ls\" & (hidden ? \" -a\" : \"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "50c724f39452c1bf"
            ]
        ]
    },
    {
        "id": "fcf1af30198bee50",
        "type": "debug",
        "z": "fb0a241d6f060dcd",
        "name": "RETURN CODE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "bd3e111b30301bef",
        "type": "join",
        "z": "fb0a241d6f060dcd",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "268d2da258a6f716",
        "type": "change",
        "z": "fb0a241d6f060dcd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "bd3e111b30301bef"
            ]
        ]
    },
    {
        "id": "865f0bba8873db6f",
        "type": "split",
        "z": "8b4ed14c3662bde0",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "775fa07900944ebe"
            ]
        ]
    },
    {
        "id": "775fa07900944ebe",
        "type": "switch",
        "z": "8b4ed14c3662bde0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "1f083c8f12eb13dd"
            ]
        ]
    },
    {
        "id": "05404e26b333c9c6",
        "type": "exec",
        "z": "8b4ed14c3662bde0",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "865f0bba8873db6f"
            ],
            [
                "d409835ddaa7b276"
            ],
            [
                "d5e68ab2059fed17"
            ]
        ]
    },
    {
        "id": "d409835ddaa7b276",
        "type": "debug",
        "z": "8b4ed14c3662bde0",
        "name": "STDERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "090e02cde5182e37",
        "type": "change",
        "z": "8b4ed14c3662bde0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"cd \" & start & \" ; ls\" & (hidden ? \" -a\" : \"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "05404e26b333c9c6"
            ]
        ]
    },
    {
        "id": "d5e68ab2059fed17",
        "type": "debug",
        "z": "8b4ed14c3662bde0",
        "name": "RETURN CODE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "696679514ac5761c",
        "type": "join",
        "z": "8b4ed14c3662bde0",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1f083c8f12eb13dd",
        "type": "change",
        "z": "8b4ed14c3662bde0",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "696679514ac5761c"
            ]
        ]
    },
    {
        "id": "9ee41725aadfecb4",
        "type": "split",
        "z": "3b87e799b2494ba5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "4dd449a36909ae58"
            ]
        ]
    },
    {
        "id": "4dd449a36909ae58",
        "type": "switch",
        "z": "3b87e799b2494ba5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "6bcb01aae6b3a4d6"
            ]
        ]
    },
    {
        "id": "07a487343fe6ecb2",
        "type": "exec",
        "z": "3b87e799b2494ba5",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "9ee41725aadfecb4"
            ],
            [
                "864447557ac82df5"
            ],
            [
                "4d19eb5857cb8110"
            ]
        ]
    },
    {
        "id": "864447557ac82df5",
        "type": "debug",
        "z": "3b87e799b2494ba5",
        "name": "STDERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "e7b4098e213106d3",
        "type": "change",
        "z": "3b87e799b2494ba5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"cd \" & start & \" ; ls\" & (hidden ? \" -a\" : \"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "07a487343fe6ecb2"
            ]
        ]
    },
    {
        "id": "4d19eb5857cb8110",
        "type": "debug",
        "z": "3b87e799b2494ba5",
        "name": "RETURN CODE",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "0c28977450b5fb04",
        "type": "join",
        "z": "3b87e799b2494ba5",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6bcb01aae6b3a4d6",
        "type": "change",
        "z": "3b87e799b2494ba5",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "0c28977450b5fb04"
            ]
        ]
    },
    {
        "id": "c022499a.8456e8",
        "type": "NGSI-Entity",
        "z": "1d4de0a0.3422df",
        "name": "",
        "endpoint": "15d84497.52381b",
        "protocol": "LD",
        "ldContext": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld",
        "mode": "normalized",
        "mimeType": "application/ld+json",
        "attrs": "",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "1e4925bc.e9d3ba"
            ]
        ]
    },
    {
        "id": "81fc8d2a.50e54",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "urn:entities:E1",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "c022499a.8456e8"
            ]
        ]
    },
    {
        "id": "43ba68c.c64a398",
        "type": "NGSI-Update",
        "z": "1d4de0a0.3422df",
        "name": "",
        "endpoint": "15d84497.52381b",
        "protocol": "LD",
        "updateMode": "upsert-replace",
        "updateModev2": "append",
        "ldContext": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld",
        "mimeType": "application/ld+json",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "122e0790.4854c8"
            ]
        ]
    },
    {
        "id": "55debfa0.ddcf",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "set E1.P1 = 12",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E1\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":12}}",
        "payloadType": "json",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "43ba68c.c64a398"
            ]
        ]
    },
    {
        "id": "c4c1412a.84208",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "set E1.P1 = 24",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E1\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":24}}",
        "payloadType": "json",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "43ba68c.c64a398"
            ]
        ]
    },
    {
        "id": "8947534.0ef18b",
        "type": "NGSI-Subscription",
        "z": "1d4de0a0.3422df",
        "name": "T, P1",
        "endpoint": "15d84497.52381b",
        "protocol": "LD",
        "ldContext": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld",
        "entityType": "T",
        "watchedAttributes": "P1",
        "q": "",
        "notificationMode": "normalized",
        "notificationEndpoint": "http://fiware-node-red:1880/T",
        "notificationAttributes": "",
        "mimeType": "application/ld+json",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "217df94f.4b12d6"
            ]
        ]
    },
    {
        "id": "4d0d6303.6354fc",
        "type": "http in",
        "z": "1d4de0a0.3422df",
        "name": "",
        "url": "/T",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "d7265125.a7a54"
            ]
        ]
    },
    {
        "id": "d7265125.a7a54",
        "type": "json",
        "z": "1d4de0a0.3422df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "9cc8f9b8.29da58"
            ]
        ]
    },
    {
        "id": "8086a035.db37c",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "subscribe",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "8947534.0ef18b"
            ]
        ]
    },
    {
        "id": "122e0790.4854c8",
        "type": "debug",
        "z": "1d4de0a0.3422df",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "5e26eda2.2282a4",
        "type": "debug",
        "z": "1d4de0a0.3422df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "cdd0301e.aebaa",
        "type": "debug",
        "z": "1d4de0a0.3422df",
        "name": "P1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.P1.value",
        "statusType": "msg",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "1e4925bc.e9d3ba",
        "type": "json",
        "z": "1d4de0a0.3422df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "cdd0301e.aebaa"
            ]
        ]
    },
    {
        "id": "e3e83f05.aad23",
        "type": "http request",
        "z": "1d4de0a0.3422df",
        "name": "GET",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://fiware-orion-ld:1026/ngsi-ld/v1/subscriptions/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "fe3f614c.1a6e8"
            ]
        ]
    },
    {
        "id": "bbdb248d.38a688",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "list subscriptions",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "e3e83f05.aad23"
            ]
        ]
    },
    {
        "id": "fe3f614c.1a6e8",
        "type": "split",
        "z": "1d4de0a0.3422df",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "e12f45d8.c42638",
                "11cb989c.650d57"
            ]
        ]
    },
    {
        "id": "6a195e60.90594",
        "type": "http request",
        "z": "1d4de0a0.3422df",
        "name": "DELETE",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://fiware-orion-ld:1026/ngsi-ld/v1/subscriptions/{{{topic}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 360,
        "y": 540,
        "wires": [
            [
                "e3e83f05.aad23"
            ]
        ]
    },
    {
        "id": "6764b7e7.1e2138",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "delete last subscription",
        "props": [
            {
                "p": "topic",
                "v": "lastSubId",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "6a195e60.90594"
            ]
        ]
    },
    {
        "id": "e12f45d8.c42638",
        "type": "change",
        "z": "1d4de0a0.3422df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lastSubId",
                "pt": "flow",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "af17b70.b20be48"
            ]
        ]
    },
    {
        "id": "217df94f.4b12d6",
        "type": "debug",
        "z": "1d4de0a0.3422df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.subscriptionId",
        "targetType": "msg",
        "statusVal": "payload.statusCode",
        "statusType": "msg",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "af17b70.b20be48",
        "type": "join",
        "z": "1d4de0a0.3422df",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 910,
        "y": 480,
        "wires": [
            [
                "5e26eda2.2282a4"
            ]
        ]
    },
    {
        "id": "9cc8f9b8.29da58",
        "type": "debug",
        "z": "1d4de0a0.3422df",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.data[0].P1.value",
        "statusType": "msg",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "11cb989c.650d57",
        "type": "debug",
        "z": "1d4de0a0.3422df",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.id",
        "statusType": "msg",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "d37f713c.b326a",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "urn:entities:E2",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "c022499a.8456e8"
            ]
        ]
    },
    {
        "id": "8621d02b.926e6",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "set E3.P1 = 48, P2 = 60",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E3\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":48},\"P2\":{\"type\":\"Property\",\"value\":60}}",
        "payloadType": "json",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "43ba68c.c64a398"
            ]
        ]
    },
    {
        "id": "528d901b.75bc4",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "urn:entities:E3",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "c022499a.8456e8"
            ]
        ]
    },
    {
        "id": "f7713883.11df18",
        "type": "inject",
        "z": "1d4de0a0.3422df",
        "name": "set E2.P2 = 36",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E2\",\"type\":\"T\",\"P2\":{\"type\":\"Property\",\"value\":36}}",
        "payloadType": "json",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "43ba68c.c64a398"
            ]
        ]
    },
    {
        "id": "67f0074e.b87a18",
        "type": "http request",
        "z": "d407a022.7d349",
        "name": "GET file",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/zeldalegends/gitpod-docker-compose/contents/node-red/flows.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "8a12ff3b.9f55e"
            ]
        ]
    },
    {
        "id": "c942f6f5.a0cdf8",
        "type": "http request",
        "z": "d407a022.7d349",
        "name": "PUT file",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/zeldalegends/gitpod-docker-compose/contents/node-red/flows.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "9f40c137.80492"
            ]
        ]
    },
    {
        "id": "15e13177.914e0f",
        "type": "change",
        "z": "d407a022.7d349",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\": \"Node-RED\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "67f0074e.b87a18"
            ]
        ]
    },
    {
        "id": "22b165fd.02e6ea",
        "type": "comment",
        "z": "d407a022.7d349",
        "name": "GitHub Token: 29d24ed4473b763c618e7b2e4b20a5994dc0ce82",
        "info": "29d24ed4473b763c618e7b2e4b20a5994dc0ce82",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "7a6cb29a.ff8eac",
        "type": "inject",
        "z": "d407a022.7d349",
        "name": "datetime",
        "props": [
            {
                "p": "topic",
                "v": "$now()",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "15e13177.914e0f"
            ]
        ]
    },
    {
        "id": "9f40c137.80492",
        "type": "debug",
        "z": "d407a022.7d349",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "a59fd57c.f03e98",
        "type": "change",
        "z": "d407a022.7d349",
        "name": "prepare commit",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\": \"Node-RED\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "$base64encode(content)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "test.txt updated",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c942f6f5.a0cdf8",
                "9f40c137.80492"
            ]
        ]
    },
    {
        "id": "8a12ff3b.9f55e",
        "type": "template",
        "z": "d407a022.7d349",
        "name": "update file",
        "field": "content",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n  <body>\n    File updated: {{topic}}.\n  </body>\n</html>",
        "output": "str",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "a59fd57c.f03e98"
            ]
        ]
    },
    {
        "id": "f279627921458d5f",
        "type": "debug",
        "z": "ba9285a6.957868",
        "name": "GitHub vars",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "bdd706d8fb85efbd",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "set flow.Github",
        "rules": [
            {
                "t": "set",
                "p": "Github.bearer",
                "pt": "flow",
                "to": "$contains($lowercase(token), \"bearer \") ? token : (\"bearer \" & token)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "Github.owner",
                "pt": "flow",
                "to": "username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "Github.repo",
                "pt": "flow",
                "to": "repository",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "f279627921458d5f"
            ]
        ]
    },
    {
        "id": "f87fc2c33a8787e4",
        "type": "comment",
        "z": "ba9285a6.957868",
        "name": "README",
        "info": "Se il push su [GitHub](https://github.com/hybuild-project/heroku)\nva in errore per i certificati, inserire:\n```\nNODE_TLS_REJECT_UNAUTHORIZED = 0\n```\nin [Config Vars](https://dashboard.heroku.com/apps/hybuild/settings)\nnella [Dashboard](https://dashboard.heroku.com/apps)\ndi [Heroku](https://www.heroku.com).",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "172d6356ab04a229",
        "type": "http request",
        "z": "ba9285a6.957868",
        "name": "PUT github",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/{{owner}}/{{repo}}/contents/{{{filename}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "0c7340d2a44049f7"
            ]
        ]
    },
    {
        "id": "3e5ce0e41afcd72f",
        "type": "http request",
        "z": "ba9285a6.957868",
        "name": "GET github",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/{{owner}}/{{repo}}/contents/{{{filename}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 890,
        "y": 220,
        "wires": [
            [
                "e866bd89f8560646"
            ]
        ]
    },
    {
        "id": "64523d55e5caf6a2",
        "type": "file in",
        "z": "ba9285a6.957868",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 660,
        "y": 380,
        "wires": [
            [
                "48decdeb736e977e"
            ]
        ]
    },
    {
        "id": "749b59e6136e3253",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sha",
                "pt": "msg",
                "to": "payload.sha",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 300,
        "wires": [
            [
                "64523d55e5caf6a2"
            ]
        ]
    },
    {
        "id": "48decdeb736e977e",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "set msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"content\": $base64encode(payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Saved from Node-RED editor",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "sha",
                "pt": "msg",
                "to": "payload.sha",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 380,
        "wires": [
            [
                "69472f5dbcdf5382"
            ]
        ]
    },
    {
        "id": "e866bd89f8560646",
        "type": "delay",
        "z": "ba9285a6.957868",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "749b59e6136e3253"
            ]
        ]
    },
    {
        "id": "69472f5dbcdf5382",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "set msg.headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"Node-RED\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "bearer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "172d6356ab04a229"
            ]
        ]
    },
    {
        "id": "acda9dd01f83bbe0",
        "type": "debug",
        "z": "ba9285a6.957868",
        "name": "commit statusCode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "msg",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "43dcd85b58dfee39",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "set msg.headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"Node-RED\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "bearer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "3e5ce0e41afcd72f"
            ]
        ]
    },
    {
        "id": "eaf63b0745580f85",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "get flow.Github",
        "rules": [
            {
                "t": "set",
                "p": "bearer",
                "pt": "msg",
                "to": "Github.bearer",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "owner",
                "pt": "msg",
                "to": "Github.owner",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "repo",
                "pt": "msg",
                "to": "Github.repo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 160,
        "wires": [
            [
                "43dcd85b58dfee39"
            ]
        ]
    },
    {
        "id": "0c7340d2a44049f7",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 540,
        "wires": [
            [
                "acda9dd01f83bbe0"
            ]
        ]
    },
    {
        "id": "3118e4be366f0844",
        "type": "comment",
        "z": "ba9285a6.957868",
        "name": "Github token",
        "info": "Repository:\nhttps://github.com/${GITHUB_USERNAME}/${GITHUB_REPOSITORY}\n\nToken:\nhttps://github.com/settings/tokens",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "581edb20c9a627e2",
        "type": "change",
        "z": "ba9285a6.957868",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "eaf63b0745580f85"
            ]
        ]
    },
    {
        "id": "7c55382072ac5ecd",
        "type": "inject",
        "z": "ba9285a6.957868",
        "name": "flows_cred.json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "flows_cred.json",
        "payloadType": "str",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "581edb20c9a627e2"
            ]
        ]
    },
    {
        "id": "6efcdb36f7b67ad3",
        "type": "inject",
        "z": "ba9285a6.957868",
        "name": "flows.json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "flows.json",
        "payloadType": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "581edb20c9a627e2"
            ]
        ]
    },
    {
        "id": "f3b82308cbd26c4e",
        "type": "inject",
        "z": "ba9285a6.957868",
        "name": "settings.js",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "settings.js",
        "payloadType": "str",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "581edb20c9a627e2"
            ]
        ]
    },
    {
        "id": "826cd1312e95863f",
        "type": "inject",
        "z": "ba9285a6.957868",
        "name": "package.json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "package.json",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "581edb20c9a627e2"
            ]
        ]
    },
    {
        "id": "9ee5ee3ce991d462",
        "type": "inject",
        "z": "ba9285a6.957868",
        "name": ".config.users.json",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": ".config.users.json",
        "payloadType": "str",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "581edb20c9a627e2"
            ]
        ]
    },
    {
        "id": "30b8aaf6d52456ce",
        "type": "inject",
        "z": "ba9285a6.957868",
        "g": "416fb17dde932093",
        "name": "SETUP",
        "props": [
            {
                "p": "token",
                "v": "GITHUB_TOKEN",
                "vt": "env"
            },
            {
                "p": "username",
                "v": "GITHUB_USERNAME",
                "vt": "env"
            },
            {
                "p": "repository",
                "v": "GITHUB_REPOSITORY",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "bdd706d8fb85efbd"
            ]
        ]
    },
    {
        "id": "10c51d9a767b17fa",
        "type": "ui_button",
        "z": "48a7733923a33252",
        "name": "Refresh",
        "group": "c2e5c6234f1ecb0c",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "#5CFEF2",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "refresh",
        "topicType": "str",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "72438054ad9e5011"
            ]
        ]
    },
    {
        "id": "3d3c732b1b48729a",
        "type": "ui_button",
        "z": "48a7733923a33252",
        "name": "Delete",
        "group": "c2e5c6234f1ecb0c",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "#f31100",
        "className": "",
        "icon": "delete",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "42484d3573f5dd9a"
            ]
        ]
    },
    {
        "id": "42484d3573f5dd9a",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "get flow.File",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"File\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename === undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0] !== \".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "f01fe20981e80fd2"
            ]
        ]
    },
    {
        "id": "8543e3b3cf644356",
        "type": "file",
        "z": "48a7733923a33252",
        "name": "delete file",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 920,
        "y": 440,
        "wires": [
            [
                "10c51d9a767b17fa"
            ]
        ]
    },
    {
        "id": "116727e813dc0759",
        "type": "http in",
        "z": "48a7733923a33252",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "e0b226dfc6632bf4"
            ]
        ]
    },
    {
        "id": "a25f090e813aec4d",
        "type": "http response",
        "z": "48a7733923a33252",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "e0b226dfc6632bf4",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "extract file",
        "func": "msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 560,
        "wires": [
            [
                "4cb748867c2a57f8"
            ]
        ],
        "outputLabels": [
            "Folder selected"
        ]
    },
    {
        "id": "4cb748867c2a57f8",
        "type": "file in",
        "z": "48a7733923a33252",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "76457435482fb9e2"
            ]
        ]
    },
    {
        "id": "76457435482fb9e2",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "set headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/octet-stream",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Content-Disposition",
                "pt": "msg",
                "to": "contentdisposition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "a25f090e813aec4d"
            ]
        ]
    },
    {
        "id": "af67bd997f064f3f",
        "type": "ui_button",
        "z": "48a7733923a33252",
        "name": "Graph",
        "group": "c2e5c6234f1ecb0c",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "#FFFE00",
        "bgcolor": "",
        "className": "",
        "icon": "show_chart",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "664d45f0fb6e4251"
            ]
        ]
    },
    {
        "id": "664d45f0fb6e4251",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "get flow.File",
        "func": "// Get the filename from the flow context\nlet filename = flow.get(\"File\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename === undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0] !== \".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": [
            [
                "1a3b5318241858ed"
            ]
        ]
    },
    {
        "id": "1a3b5318241858ed",
        "type": "file in",
        "z": "48a7733923a33252",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "0ff533851a51d3ee"
            ]
        ]
    },
    {
        "id": "0ff533851a51d3ee",
        "type": "csv",
        "z": "48a7733923a33252",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "baca6184c2a70f2a"
            ]
        ]
    },
    {
        "id": "baca6184c2a70f2a",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "chart data",
        "func": "var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"time\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].time, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 500,
        "wires": [
            [
                "aa776894d7869e06"
            ]
        ]
    },
    {
        "id": "b57acd74e05d3a79",
        "type": "ui_toast",
        "z": "48a7733923a33252",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "ask",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "491e7620b34f56ad"
            ]
        ]
    },
    {
        "id": "f01fe20981e80fd2",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "set text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Delete \" & filename & \"?\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Confirmation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "b57acd74e05d3a79"
            ]
        ]
    },
    {
        "id": "491e7620b34f56ad",
        "type": "switch",
        "z": "48a7733923a33252",
        "name": "yes?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "8543e3b3cf644356"
            ]
        ]
    },
    {
        "id": "72438054ad9e5011",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "set flow.Dir&Hidden",
        "func": "let dir = flow.get(\"Dir\") || \"/\";\nflow.set(\"Dir\", dir);\n\nlet hidden = flow.get(\"Hidden\") || false;\nflow.set(\"Hidden\", hidden);\n\nif (msg.topic===\"parent\") {\n    var path = dir.split('/');\n    path.pop();\n    dir = path.join('/'); \n    if (dir===\"\") dir=\"/\";\n    flow.set(\"Dir\", dir);\n}\n\nif (msg.topic===\"change\") {\n    dir=msg.payload;    \n    flow.set(\"Dir\", dir);\n}\n\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    flow.set(\"Hidden\", hidden);\n}\n\n//if (msg.topic===\"refresh\") {\n//}\nnode.status({ fill: \"green\", shape: \"dot\", text: dir });\n\nmsg.payload = {\"start\":dir, \"hidden\": hidden};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "951ed41b658521c0",
                "1cd035db8a720ac5",
                "c3f18afbd87c7be6"
            ]
        ]
    },
    {
        "id": "c294263dcd8b088c",
        "type": "ui_button",
        "z": "48a7733923a33252",
        "name": "Parent",
        "group": "c2e5c6234f1ecb0c",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_upwards",
        "payload": "",
        "payloadType": "str",
        "topic": "parent",
        "topicType": "str",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "72438054ad9e5011"
            ]
        ]
    },
    {
        "id": "143b8c92ab82af68",
        "type": "ui_button",
        "z": "48a7733923a33252",
        "name": "Home",
        "group": "c2e5c6234f1ecb0c",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "#51aa00",
        "className": "",
        "icon": "home",
        "payload": "HOME",
        "payloadType": "global",
        "topic": "change",
        "topicType": "str",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "72438054ad9e5011"
            ]
        ]
    },
    {
        "id": "546808112a083a25",
        "type": "ui_switch",
        "z": "48a7733923a33252",
        "name": "Hidden",
        "label": "",
        "tooltip": "Show hidden files",
        "group": "c2e5c6234f1ecb0c",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "hidden",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "check_box",
        "oncolor": "#000000",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check_box_outline_blank",
        "offcolor": "#000000",
        "animate": true,
        "className": "",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "72438054ad9e5011"
            ]
        ]
    },
    {
        "id": "7c053f6a42b46ca6",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "chdir",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "change",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 280,
        "wires": [
            [
                "72438054ad9e5011"
            ]
        ]
    },
    {
        "id": "583ffc2254c74c25",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "set flow.File",
        "rules": [
            {
                "t": "set",
                "p": "File",
                "pt": "flow",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 140,
        "wires": [
            [
                "07715ddc2d0e8133"
            ]
        ]
    },
    {
        "id": "7465260893d7e1c6",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "table data",
        "func": "for (var i = 0; i < msg.payload.length; i++) {\n//  msg.payload[i].stat.size = msg.payload[i].stat.size / 1024;\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n//  msg.payload[i].fname = (msg.payload[i].stat.isFile?\"\":\"[\") + msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+(msg.payload[i].stat.isFile?\"\":\"]\");\n    msg.payload[i].fname = (msg.payload[i].stat.isFile ? \"\" : \"<b>[\") + msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '') + (msg.payload[i].stat.isFile ? \"\" : \"]</b>\");\n    if (msg.payload[i].fname.startsWith('.') || msg.payload[i].fname.startsWith('<b>[.'))\n        msg.payload[i].fname = \"<i>\" + msg.payload[i].fname + \"</i>\";\n//  msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"/download?filename=\" + msg.payload[i].name;\n    msg.payload[i].link = msg.payload[i].stat.isDirectory ? \"\" : \"<a href=\\\"/download?filename=\" + msg.payload[i].name + \"\\\"><img src=\\\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACf0lEQVR42mNkwAE0ApLF/wqIKwOZ/5k/vLxzY8Pc19jUMaILGPdsjfik4VDy5ieD0X+oPBPQEBF2htN8Nw50nynxXoPVADEzVw6himVLX/znCmLAAyQZv6142xEV/+rU7l8oBiitfrn2HRMPXDPQVgZWJgj797//DP+QHCv878uyu6Hi0XADJKuXR3438luGbJO7GAPDbP2/YHbqsc8MO7/wAVUzweW5zm0KetYauR5sgPCiJ2f/cgsa4TIg7fA7hl1vWRj+cfIDnQYxhPnL22Nv4+WsGZnldSR4+048AxrPCHOSuzgDg6nAf4ZUuX9gxbOvfWI49/4fw643TAy/OaCG/P//73ORmSgji56TDU/95sPItjuLMjDM1PvLwAZ18a+//xmyj31g2PcWKMDMzPCbnRfsnS/1nqaMzFrWtrzNuw6hhzbMEKBNYM37gZoZmRghbmRiZvjFxs3wqcrZjJFRQEKab86dx4yMjIyYhvxnYPnyjmH/G0awZogSKM3I+O9FmpY4WISn68h5FmVDfZAmTmYGBjvh/3BDmP7+YWD++xOs6cCL3wx/gBEMYv++dfrU63pfc7CtrFZB8dxFixaAwpGf5R9DtsRnRKwDxRih9NQ7fxl+MjCDDXjbEx/x48yOlTB1zFxFi9azWQf7gvzM+O8vA8uvL+DEBFIMcTHC+d8Or177fmpOGFDgH8LfrOx8XDkzl7Jah/iAFf//x8D2+xsDM5CGRTBU8/r3MwrjGP7+/oItM7GymvvFs/sX5DGrmWqDgo7t7w8Glr+///2+ffrS501TJ/44u3MJUN0fnLkRCtgYuQXkmMQVlBj+A93y8v7d/98+PgElCXSFAKXm39j74So1AAAAAElFTkSuQmCC\\\" /></a>\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "ff57d5179a12e1cb"
            ]
        ]
    },
    {
        "id": "ff57d5179a12e1cb",
        "type": "sort",
        "z": "48a7733923a33252",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "$lowercase(fname)\t",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "b327ac0bbb7c81ab"
            ]
        ]
    },
    {
        "id": "8aa1cd755b1da57a",
        "type": "switch",
        "z": "48a7733923a33252",
        "name": "is file?",
        "property": "payload.stat.isFile",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "583ffc2254c74c25",
                "cfd7c2db52a2b168"
            ],
            [
                "7c053f6a42b46ca6"
            ]
        ]
    },
    {
        "id": "4169d1bd2a6dbccc",
        "type": "yaml",
        "z": "48a7733923a33252",
        "property": "payload",
        "name": "",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "7471d4aa3ae0363d"
            ]
        ]
    },
    {
        "id": "7471d4aa3ae0363d",
        "type": "ui_template",
        "z": "48a7733923a33252",
        "group": "48c850657e8c3aa9",
        "name": "Details",
        "order": 2,
        "width": 6,
        "height": 6,
        "format": "<textarea rows=\"21\">{{msg.payload}}</textarea>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7f6a4b3030de56b4",
        "type": "inject",
        "z": "48a7733923a33252",
        "name": "INIT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "ui_control",
                "v": "{\"tabulator\":{\"selectable\":1}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "b327ac0bbb7c81ab",
                "94883378034c7503"
            ]
        ]
    },
    {
        "id": "07715ddc2d0e8133",
        "type": "file in",
        "z": "48a7733923a33252",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "8cffb26279781afa"
            ]
        ]
    },
    {
        "id": "cb10579bcf26a20a",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "clean",
        "rules": [
            {
                "t": "delete",
                "p": "payload.link",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.fname",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "4169d1bd2a6dbccc"
            ]
        ]
    },
    {
        "id": "aa776894d7869e06",
        "type": "ui_chart",
        "z": "48a7733923a33252",
        "name": "",
        "group": "48c850657e8c3aa9",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "CSV file",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b327ac0bbb7c81ab",
        "type": "ui_table",
        "z": "48a7733923a33252",
        "group": "c2e5c6234f1ecb0c",
        "name": "",
        "order": 18,
        "width": 12,
        "height": 10,
        "columns": [
            {
                "field": "fname",
                "title": "Name",
                "width": "35%",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat.size",
                "title": "Size",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat.created",
                "title": "Created",
                "width": "22%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat.changed",
                "title": "Changed",
                "width": "22%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "link",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "8aa1cd755b1da57a",
                "cb10579bcf26a20a"
            ]
        ]
    },
    {
        "id": "b250fbaac7b6352c",
        "type": "ui_form",
        "z": "48a7733923a33252",
        "name": "Editor",
        "label": "",
        "group": "1b06f0a0a19cdec4",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "File name",
                "value": "filename",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "content",
                "type": "multiline",
                "required": true,
                "rows": 9
            }
        ],
        "formValue": {
            "filename": "",
            "content": ""
        },
        "payload": "",
        "submit": "Save",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "f3bbddc69cd61c96"
            ]
        ]
    },
    {
        "id": "8cffb26279781afa",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "form data",
        "func": "var cloned = RED.util.cloneMessage(msg);\nvar formdata = {payload:{}};\nformdata.payload.filename = cloned.filename;\nformdata.payload.content = cloned.payload;\nreturn formdata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "b250fbaac7b6352c"
            ]
        ]
    },
    {
        "id": "f3bbddc69cd61c96",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "set msg",
        "rules": [
            {
                "t": "move",
                "p": "payload.filename",
                "pt": "msg",
                "to": "filename",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.content",
                "pt": "msg",
                "to": "content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Confirmation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Save \" & filename & \"?\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "f3d2bf7f40f9b734"
            ]
        ]
    },
    {
        "id": "f3d2bf7f40f9b734",
        "type": "ui_toast",
        "z": "48a7733923a33252",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Yes",
        "cancel": "No",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "confirm",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "b95a3693c6f5b150"
            ]
        ]
    },
    {
        "id": "b95a3693c6f5b150",
        "type": "switch",
        "z": "48a7733923a33252",
        "name": "yes?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Yes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "494e5537f14fa262"
            ]
        ]
    },
    {
        "id": "88939d9e514aed48",
        "type": "file",
        "z": "48a7733923a33252",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "494e5537f14fa262",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "content",
        "rules": [
            {
                "t": "move",
                "p": "content",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "88939d9e514aed48"
            ]
        ]
    },
    {
        "id": "94883378034c7503",
        "type": "exec",
        "z": "48a7733923a33252",
        "command": "pwd",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "51c1136f0b3dfb11"
            ],
            [],
            []
        ]
    },
    {
        "id": "51c1136f0b3dfb11",
        "type": "change",
        "z": "48a7733923a33252",
        "g": "6baee52f786c7c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HOME",
                "pt": "global",
                "to": "$trim(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "143b8c92ab82af68"
            ]
        ]
    },
    {
        "id": "2c8512cfb70f030a",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "get Dir",
        "rules": [
            {
                "t": "set",
                "p": "path",
                "pt": "msg",
                "to": "Dir",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "path & \"/\" & file.name",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 40,
        "wires": [
            [
                "9c2cd483e8a35c30"
            ]
        ]
    },
    {
        "id": "9c2cd483e8a35c30",
        "type": "file",
        "z": "48a7733923a33252",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "951ed41b658521c0",
        "type": "change",
        "z": "48a7733923a33252",
        "name": "is dir",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.start",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "cfd7c2db52a2b168"
            ]
        ]
    },
    {
        "id": "cfd7c2db52a2b168",
        "type": "ui_text",
        "z": "48a7733923a33252",
        "group": "c2e5c6234f1ecb0c",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Path:",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "className": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "c3f18afbd87c7be6",
        "type": "function",
        "z": "48a7733923a33252",
        "name": "File Lister",
        "func": "let totalFiles = 0\n\nlet options = {\n    alwaysStat: true,\n    type: 'files_directories',\n    depth: 0\n}\n\nif (msg.payload.hidden) {\n    options.fileFilter = ['*', '.*'];\n    options.directoryFilter = ['*', '.*'];\n} else {\n    options.fileFilter = ['*'];\n    options.directoryFilter = ['*'];\n}\n\nlet arrayOut = []\n\nreaddirp(msg.payload.start, options)\n    // Called if a found entry cannot be accessed (e.g. permissions)\n    .on('warn', (err) => {\n        if (node.showWarnings === true) node.error('File could not be accessed', err)\n    })\n    // Fatal error\n    .on('error', (err) => {\n        node.error('Error processing folder listing', err)\n    })\n    // called for each entry found\n    .on('data', (entry) => {\n        var file = entry.basename\n\n        // Do we want to include file stats?\n        file = entry.fullPath;\n        file = { name: file }\n        try {\n            /** NB: some stats props are BigInt which cannot be serialised (e.g. break debug node)\n             *  so convert to Number but that may truncate the value.\n             * @see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt\n             **/\n            file.stat = {\n                size: Number(entry.stats.size), //in bytes\n                created: entry.stats.birthtime, // @since v1.1.0 ctime no longer used - see Node.js docs\n                changed: entry.stats.mtime,\n                accessed: entry.stats.atime,\n                statusChanged: entry.stats.ctime, // @since v1.1.0\n                uid: Number(entry.stats.uid),\n                gid: Number(entry.stats.gid),\n                mode: '0x' + entry.stats.mode.toString(16),\n                isBlockDevice: entry.stats.isBlockDevice(),\n                isCharacterDevice: entry.stats.isCharacterDevice(),\n                isDirectory: entry.stats.isDirectory(),\n                isFIFO: entry.stats.isFIFO(),\n                isFile: entry.stats.isFile(),\n                isSocket: entry.stats.isSocket(),\n                isSymbolicLink: entry.stats.isSymbolicLink(),\n            }\n        } catch (err) {\n            file.stat = { 'error': 'Cannot stat file', 'err': err }\n        }\n        \n        arrayOut.push(file)\n        node.status({ fill: 'green', shape: 'dot', text: '# files ' + ++totalFiles })\n    })\n    // called when all entries have been output\n    .on('end', () => {\n        if ( arrayOut.length > 0 ) {\n             node.status({fill:'blue',shape:'dot',text:'# files ' + arrayOut.length})\n        } else {\n            node.status({ fill: 'yellow', shape: 'dot', text: 'Empty Folder' })\n        }\n        msg.payload = arrayOut\n        node.send(msg)\n    })\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "readdirp",
                "module": "readdirp"
            }
        ],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "7465260893d7e1c6"
            ]
        ],
        "icon": "node-red/file.svg"
    },
    {
        "id": "1cd035db8a720ac5",
        "type": "subflow:3b87e799b2494ba5",
        "z": "48a7733923a33252",
        "d": true,
        "name": "",
        "x": 480,
        "y": 640,
        "wires": [
            [
                "8d710c66cac36174"
            ]
        ]
    },
    {
        "id": "8d710c66cac36174",
        "type": "function",
        "z": "48a7733923a33252",
        "d": true,
        "name": "table data (reduced)",
        "func": "for (var i = 0; i < msg.payload.length; i++) {\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n    msg.payload[i].link = \"<a href=\\\"/download?filename=\" + msg.payload[i].name + \"\\\"><img src=\\\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACf0lEQVR42mNkwAE0ApLF/wqIKwOZ/5k/vLxzY8Pc19jUMaILGPdsjfik4VDy5ieD0X+oPBPQEBF2htN8Nw50nynxXoPVADEzVw6himVLX/znCmLAAyQZv6142xEV/+rU7l8oBiitfrn2HRMPXDPQVgZWJgj797//DP+QHCv878uyu6Hi0XADJKuXR3438luGbJO7GAPDbP2/YHbqsc8MO7/wAVUzweW5zm0KetYauR5sgPCiJ2f/cgsa4TIg7fA7hl1vWRj+cfIDnQYxhPnL22Nv4+WsGZnldSR4+048AxrPCHOSuzgDg6nAf4ZUuX9gxbOvfWI49/4fw643TAy/OaCG/P//73ORmSgji56TDU/95sPItjuLMjDM1PvLwAZ18a+//xmyj31g2PcWKMDMzPCbnRfsnS/1nqaMzFrWtrzNuw6hhzbMEKBNYM37gZoZmRghbmRiZvjFxs3wqcrZjJFRQEKab86dx4yMjIyYhvxnYPnyjmH/G0awZogSKM3I+O9FmpY4WISn68h5FmVDfZAmTmYGBjvh/3BDmP7+YWD++xOs6cCL3wx/gBEMYv++dfrU63pfc7CtrFZB8dxFixaAwpGf5R9DtsRnRKwDxRih9NQ7fxl+MjCDDXjbEx/x48yOlTB1zFxFi9azWQf7gvzM+O8vA8uvL+DEBFIMcTHC+d8Or177fmpOGFDgH8LfrOx8XDkzl7Jah/iAFf//x8D2+xsDM5CGRTBU8/r3MwrjGP7+/oItM7GymvvFs/sX5DGrmWqDgo7t7w8Glr+///2+ffrS501TJ/44u3MJUN0fnLkRCtgYuQXkmMQVlBj+A93y8v7d/98+PgElCXSFAKXm39j74So1AAAAAElFTkSuQmCC\\\" /></a>\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 640,
        "wires": [
            [
                "ff57d5179a12e1cb"
            ]
        ]
    },
    {
        "id": "27c9a449c73142dd",
        "type": "ui_template",
        "z": "48a7733923a33252",
        "group": "48c850657e8c3aa9",
        "name": "upload",
        "order": 4,
        "width": 6,
        "height": 1,
        "format": "\n<body>\n<button class=\"md-raised md-button md-ink-ripple\" onclick=\"importData()\">Upload</button>    \n\n<script>\nlet restoreScope = scope;\n\nfunction importData() {\n  let input = document.createElement('input');\n  input.type = 'file';\n  input.id = 'restoreBtn';\n  input.onchange = _ => {\n    // you can use this method to get file and perform respective operations\n        let fReader = new FileReader();\n        fReader.readAsArrayBuffer(input.files[0]);\n        fReader.onloadend = function(event){\n        restoreScope.send({\n            file:{name:input.files[0].name},\n            payload:event.target.result\n          });}\n        };\n  input.click();\n}\n</script>\n</body>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "2c8512cfb70f030a"
            ]
        ]
    },
    {
        "id": "e22cc8583eb93439",
        "type": "link in",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "links": [
            "802db59f1dfafcb1"
        ],
        "x": 795,
        "y": 300,
        "wires": [
            [
                "b382101fb64bb6cd"
            ]
        ]
    },
    {
        "id": "b382101fb64bb6cd",
        "type": "debug",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "85770b738242d577",
        "type": "inject",
        "z": "f29ecd9eab0f0d83",
        "d": true,
        "name": "5s",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b36e0ea9b8c2c5a8"
            ]
        ]
    },
    {
        "id": "b36e0ea9b8c2c5a8",
        "type": "function",
        "z": "f29ecd9eab0f0d83",
        "d": true,
        "name": "system mon",
        "func": "var freemem               = os.freemem();\nvar totalmem              = os.totalmem();\nvar os_uptime             = os.uptime();\nvar {user, system}        = process.cpuUsage();\nvar {heapUsed, heapTotal} = process.memoryUsage();\nvar p_uptime              = process.uptime();\nvar loadavg               = os.loadavg();\n\ncpuUsage(perc => node.send({\n    payload: {\n        cpu_usage:    perc,\n        cpu_user:     user / 1000 / 1000,\n        cpu_system:   system / 1000 / 1000,\n\n        used_heap_MB: round(heapUsed / 1024 / 1024),\n        heap_usage:   round(heapUsed / heapTotal * 100),\n        tot_heap_MB:  round(heapTotal / 1024 / 1024),\n        free_heap_MB: round((heapTotal - heapUsed) / 1024 / 1024),\n        \n        free_ram_GB:  round(freemem / 1024 / 1024 / 1024),\n        tot_ram_GB:   round(totalmem / 1024 / 1024 / 1024),\n        ram_usage:    round((1 - freemem / totalmem) * 100),\n        used_ram_GB:  round((totalmem - freemem) / 1024 / 1024 / 1024),\n\n        loadavg_1:    loadavg[0],\n        loadavg_5:    loadavg[1],\n        loadavg_15:   loadavg[2],\n\n        os_uptime_s:  os_uptime,\n        os_uptime:    timeConversion(os_uptime),\n        p_uptime_s:   p_uptime,\n        p_uptime:     timeConversion(p_uptime),\n\n        last_update: new Date()\n    }\n}))\n\n/**\n * Method used in node-os-utils\n * \n * @description Measure the CPU usage calculated between two different CPU usage samples\n * @param {function} cb A callback function the result is passed to\n * @param {number} [core=-1] The CPU core index to measure. When is not greater than -1 then it is \"averaged\" for all CPU cores.\n * @param {number} [sampleMs=1000]  The number of milliseconds between the CPU usage samples\n */\nfunction cpuUsage(cb, core, sampleMs) {\n    var deltaUsed;\n    var deltaIdle;\n    var timesKeys = [\"user\", \"nice\", \"sys\", \"irq\"];\n    var allCores = null === core || !(core > -1);\n\n    var byCore = (cpu, i) =>\n        allCores || core === i;\n\n    var bySampleKey = (sample, key) =>\n        sample.filter(byCore).reduce(\n            (sum, cpu) => sum + cpu.times[key], 0);\n\n    var sample0 = os.cpus();\n\n    setTimeout(function () {\n        var sample1 = os.cpus();\n\n        deltaUsed = timesKeys.reduce(\n            (diff, key) => diff + bySampleKey(sample1, key) - bySampleKey(sample0, key), 0);\n\n        deltaIdle = bySampleKey(sample1, \"idle\") - bySampleKey(sample0, \"idle\");\n\n        if (\"function\" === typeof cb) {\n            cb(100 * (deltaUsed / (deltaUsed + deltaIdle)));\n        }\n    }, sampleMs || 1000);\n}\n\nfunction round(n, d = 2) {\n    return Math.round(n * 10 ** d) / 10 ** d;\n}\n\nfunction timeConversion(seconds) {\n    var minutes = seconds / 60;\n    var hours = seconds / 3600;\n    var days = seconds / 86400;\n\n    if (seconds < 60) {\n        return seconds.toFixed(1) + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes.toFixed(1) + \" Min\";\n    } else if (hours < 24) {\n        return hours.toFixed(1) + \" Hrs\";\n    } else {\n        return days.toFixed(1) + \" Days\"\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "process",
                "module": "process"
            }
        ],
        "x": 290,
        "y": 120,
        "wires": [
            [
                "d433dfb4813e729c",
                "87e284b688c9bc1d",
                "d5f8bbdc8a50d1c4",
                "1bb52214bb93b59c",
                "407393b06d188578",
                "978f120d4b6d5d8d",
                "7c204748fb1d30c6",
                "9c89af026d6e876a",
                "943a803ae4a09ae9"
            ]
        ]
    },
    {
        "id": "d59207da68d0e961",
        "type": "ui_chart",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "ade1f84b9abbf285",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Memory",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4b5a96f2a67089df",
        "type": "ui_chart",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "ade1f84b9abbf285",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Processor",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d433dfb4813e729c",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime os/node",
        "format": "{{msg.payload.os_uptime}} / {{msg.payload.p_uptime}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "e475bf4d1347ce6d",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname (IP)",
        "format": "{{msg.payload.hostname}} ({{msg.payload.address}})",
        "layout": "row-right",
        "className": "",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "38fb665c04a2fa2b",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform Arch",
        "format": "{{msg.payload.platform}} {{msg.payload.arch}} {{msg.payload.endianness}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "12262ec3b4702e3b",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Cloud Release",
        "format": "{{msg.payload.release}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "93fcb0ebab0ad1fb",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "CPU Model",
        "label": "CPU #{{msg.payload.n_cores}}",
        "format": "{{msg.payload.cpu_model}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "772de72b62e1e4e0",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "User info (GID:UID)",
        "format": "{{msg.payload.username}} ({{msg.payload.gid}}:{{msg.payload.uid}})",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "990e8802adb04ed7",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 9,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Node version",
        "format": "{{msg.payload.node_version}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "1bb52214bb93b59c",
        "type": "ui_gauge",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "b6cc1aae65862dae",
        "order": 4,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "CPU",
        "label": "units",
        "format": "{{msg.payload.cpu_usage | number:3}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "87e284b688c9bc1d",
        "type": "ui_gauge",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "b6cc1aae65862dae",
        "order": 4,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Heap",
        "label": "MB",
        "format": "{{msg.payload.used_heap_MB| number:2}} / {{msg.payload.tot_heap_MB| number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "d5f8bbdc8a50d1c4",
        "type": "ui_gauge",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "b6cc1aae65862dae",
        "order": 4,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "RAM",
        "label": "GB",
        "format": "{{msg.payload.used_ram_GB| number:2}} / {{msg.payload.tot_ram_GB| number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "357b6025664fd028",
        "type": "inject",
        "z": "f29ecd9eab0f0d83",
        "d": true,
        "name": "5min",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "e5dc586dcb92b24a"
            ]
        ]
    },
    {
        "id": "4a1850006419b797",
        "type": "function",
        "z": "f29ecd9eab0f0d83",
        "name": "node-os-utils",
        "func": "var freemem = os.freemem();\nvar totalmem = os.totalmem();\nvar os_uptime = os.uptime();\nvar { user, system } = process.cpuUsage();\nvar { heapUsed, heapTotal } = process.memoryUsage();\nvar p_uptime = process.uptime();\nvar loadavg = os.loadavg();\n\ncpuUsage(perc => node.send({\n    payload: {\n        cpu_usage:    perc,\n        cpu_user:     user / 1000 / 1000,\n        cpu_system:   system / 1000 / 1000,\n\n        used_heap_MB: round(heapUsed / 1024 / 1024),\n        heap_usage:   round(heapUsed / heapTotal * 100),\n        tot_heap_MB:  round(heapTotal / 1024 / 1024),\n        free_heap_MB: round((heapTotal - heapUsed) / 1024 / 1024),\n        \n        free_ram_GB:  round(freemem / 1024 / 1024 / 1024),\n        tot_ram_GB:   round(totalmem / 1024 / 1024 / 1024),\n        ram_usage:    round((1 - freemem / totalmem) * 100),\n        used_ram_GB:  round((totalmem - freemem) / 1024 / 1024 / 1024),\n        \n        loadavg_1:    loadavg[0],\n        loadavg_5:    loadavg[1],\n        loadavg_15:   loadavg[2],\n\n        os_uptime_s:  os_uptime,\n        os_uptime:    timeConversion(os_uptime),\n        p_uptime_s:   p_uptime,\n        p_uptime:     timeConversion(p_uptime),\n\n        arch: os.arch(),\n        cpus: os.cpus(),\n        cpu_model: os.cpus()[os.cpus().length - 1].model,\n        cpu_speed: os.cpus()[os.cpus().length - 1].speed,\n        n_cores: os.cpus().length,\n        endianness: os.endianness(),\n        homedir: os.homedir(),\n        hostname: os.hostname(),\n        network: os.networkInterfaces(),\n        address: os.networkInterfaces().eth0[0].address,\n        platform: os.platform(),\n        release: os.release(),\n        type: os.type(),\n        userInfo: os.userInfo(),\n        gid: os.userInfo().gid,\n        uid: os.userInfo().uid,\n        username: os.userInfo().username,\n        shell: os.userInfo().shell,\n        os_version: os.version(),\n\n        cwd: process.cwd(),\n        node_version: process.version,\n\n        last_update: new Date()\n    }\n}))\n\n/**\n * Method used in node-os-utils\n * \n * @description Measure the CPU usage calculated between two different CPU usage samples\n * @param {function} cb A callback function the result is passed to\n * @param {number} [core=-1] The CPU core index to measure. When is not greater than -1 then it is \"averaged\" for all CPU cores.\n * @param {number} [sampleMs=1000]  The number of milliseconds between the CPU usage samples\n */\nfunction cpuUsage(cb, core, sampleMs) {\n    var deltaUsed;\n    var deltaIdle;\n    var timesKeys = [\"user\", \"nice\", \"sys\", \"irq\"];\n    var allCores = null === core || !(core > -1);\n\n    var byCore = (cpu, i) =>\n        allCores || core === i;\n\n    var bySampleKey = (sample, key) =>\n        sample.filter(byCore).reduce(\n            (sum, cpu) => sum + cpu.times[key], 0);\n\n    var sample0 = os.cpus();\n\n    setTimeout(function () {\n        var sample1 = os.cpus();\n\n        deltaUsed = timesKeys.reduce(\n            (diff, key) => diff + bySampleKey(sample1, key) - bySampleKey(sample0, key), 0);\n\n        deltaIdle = bySampleKey(sample1, \"idle\") - bySampleKey(sample0, \"idle\");\n\n        if (\"function\" === typeof cb) {\n            cb(100 * (deltaUsed / (deltaUsed + deltaIdle)));\n        }\n    }, sampleMs || 1000);\n}\n\nfunction round(n, d = 2) {\n    return Math.round(n * 10 ** d) / 10 ** d;\n}\n\nfunction timeConversion(seconds) {\n    var minutes = seconds / 60;\n    var hours = seconds / 3600;\n    var days = seconds / 86400;\n\n    if (seconds < 60) {\n        return seconds.toFixed(1) + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes.toFixed(1) + \" Min\";\n    } else if (hours < 24) {\n        return hours.toFixed(1) + \" Hrs\";\n    } else {\n        return days.toFixed(1) + \" Days\"\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "process",
                "module": "process"
            }
        ],
        "x": 290,
        "y": 360,
        "wires": [
            [
                "802db59f1dfafcb1",
                "407393b06d188578",
                "1bb52214bb93b59c",
                "d5f8bbdc8a50d1c4",
                "87e284b688c9bc1d",
                "d433dfb4813e729c",
                "7c204748fb1d30c6",
                "9c89af026d6e876a",
                "943a803ae4a09ae9",
                "978f120d4b6d5d8d",
                "e475bf4d1347ce6d",
                "38fb665c04a2fa2b",
                "12262ec3b4702e3b",
                "93fcb0ebab0ad1fb",
                "772de72b62e1e4e0",
                "a72c3c707a0495a6",
                "f66d1fae20c650a0",
                "990e8802adb04ed7",
                "716b83720f6ed7c3"
            ]
        ]
    },
    {
        "id": "a72c3c707a0495a6",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 7,
        "width": "0",
        "height": "0",
        "name": "Home (bash)",
        "label": "Home (bash:{{msg.payload.shell}}) Current dir",
        "format": "{{msg.payload.homedir}} {{msg.payload.cwd}} ",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "f66d1fae20c650a0",
        "type": "ui_text",
        "z": "f29ecd9eab0f0d83",
        "group": "a9912d64.97094",
        "order": 8,
        "width": "0",
        "height": "0",
        "name": "OS version",
        "label": "{{msg.payload.type}} version",
        "format": "{{msg.payload.os_version}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 540,
        "wires": []
    },
    {
        "id": "e5dc586dcb92b24a",
        "type": "function",
        "z": "f29ecd9eab0f0d83",
        "d": true,
        "name": "system info",
        "func": "msg.payload = {       \n    arch:         os.arch(),\n    cpus:         os.cpus(),\n    cpu_model:    os.cpus()[os.cpus().length - 1].model,\n    cpu_speed:    os.cpus()[os.cpus().length - 1].speed,\n    n_cpus:       os.cpus().length,\n    endianness:   os.endianness(),\n    homedir:      os.homedir(),\n    hostname:     os.hostname(),\n    network:      os.networkInterfaces(),\n    address:      os.networkInterfaces().eth0[0].address,\n    platform:     os.platform(),\n    release:      os.release(),\n    type:         os.type(),\n    userInfo:     os.userInfo(),\n    gid:          os.userInfo().gid,\n    uid:          os.userInfo().uid,\n    username:     os.userInfo().username,\n    shell:        os.userInfo().shell,\n    os_version:   os.version(),\n\n    cwd:          process.cwd(),\n    node_version: process.version,\n\n    last_update:  new Date()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "os",
                "module": "os"
            },
            {
                "var": "process",
                "module": "process"
            }
        ],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "e475bf4d1347ce6d",
                "38fb665c04a2fa2b",
                "12262ec3b4702e3b",
                "93fcb0ebab0ad1fb",
                "772de72b62e1e4e0",
                "a72c3c707a0495a6",
                "f66d1fae20c650a0",
                "990e8802adb04ed7"
            ]
        ]
    },
    {
        "id": "407393b06d188578",
        "type": "split",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 510,
        "y": 40,
        "wires": [
            [
                "e14bc855c64bcbec",
                "1ff2be7d96afb5f0"
            ]
        ]
    },
    {
        "id": "e14bc855c64bcbec",
        "type": "switch",
        "z": "f29ecd9eab0f0d83",
        "name": "mem?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ram",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "heap",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 60,
        "wires": [
            [],
            [
                "d59207da68d0e961"
            ]
        ]
    },
    {
        "id": "5a48bbed736ee220",
        "type": "comment",
        "z": "f29ecd9eab0f0d83",
        "name": "README",
        "info": "### Function nodes\n```node-os-utils``` =\n```system mon``` + \n```system info```\n\n### Swith node\n*mem* = *ram* + *heap*\n\n### UI Widget configuration via msg.ui_control\nhttps://github.com/node-red/node-red-dashboard/blob/master/config-fields.md",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "7c204748fb1d30c6",
        "type": "ui_gauge",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "f6e5eaea1a3d31cf",
        "order": 1,
        "width": "6",
        "height": "2",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{msg.payload.loadavg_1| number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "3",
        "className": "",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c89af026d6e876a",
        "type": "ui_gauge",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "f6e5eaea1a3d31cf",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{msg.payload.loadavg_5| number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "3",
        "className": "",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "943a803ae4a09ae9",
        "type": "ui_gauge",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "f6e5eaea1a3d31cf",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{msg.payload.loadavg_15| number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "3",
        "className": "",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "52c2417885093efb",
        "type": "ui_chart",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "group": "f6e5eaea1a3d31cf",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "CPU Load Average",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "978f120d4b6d5d8d",
        "type": "split",
        "z": "f29ecd9eab0f0d83",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "4fef2b553738432c"
            ]
        ]
    },
    {
        "id": "4fef2b553738432c",
        "type": "switch",
        "z": "f29ecd9eab0f0d83",
        "name": "load?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "n_cores",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "loadavg",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "72daa15a9e8dee07"
            ],
            [
                "52c2417885093efb"
            ]
        ]
    },
    {
        "id": "eeac84aba4122de6",
        "type": "inject",
        "z": "f29ecd9eab0f0d83",
        "name": "5s",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "4a1850006419b797"
            ]
        ]
    },
    {
        "id": "716b83720f6ed7c3",
        "type": "change",
        "z": "f29ecd9eab0f0d83",
        "name": "gauge",
        "rules": [
            {
                "t": "set",
                "p": "ui_control.max",
                "pt": "msg",
                "to": "payload.n_cores * 4",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ui_control.seg1",
                "pt": "msg",
                "to": "payload.n_cores *1.5",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ui_control.seg2",
                "pt": "msg",
                "to": "payload.n_cores * 3",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 540,
        "wires": [
            [
                "7c204748fb1d30c6",
                "9c89af026d6e876a",
                "943a803ae4a09ae9"
            ]
        ]
    },
    {
        "id": "1ff2be7d96afb5f0",
        "type": "switch",
        "z": "f29ecd9eab0f0d83",
        "name": "cpu?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "cpu_sys",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "cpu_us",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 20,
        "wires": [
            [
                "4b5a96f2a67089df"
            ],
            [
                "4b5a96f2a67089df"
            ]
        ]
    },
    {
        "id": "72daa15a9e8dee07",
        "type": "change",
        "z": "f29ecd9eab0f0d83",
        "name": "warning",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "warning",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload * 2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "52c2417885093efb"
            ]
        ]
    },
    {
        "id": "802db59f1dfafcb1",
        "type": "link out",
        "z": "f29ecd9eab0f0d83",
        "g": "4aa3f353bc04f7cb",
        "name": "",
        "mode": "link",
        "links": [
            "5aa942d10f2514dc",
            "44e9b2da44ff2ac8",
            "e22cc8583eb93439"
        ],
        "x": 795,
        "y": 360,
        "wires": []
    }
]