node-red/flows.json
[{"id":"66018752.c1ff88","type":"NGSI-Entity","z":"b79c7ba0.f87fc8","name":"","endpoint":"15d84497.52381b","protocol":"LD","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mode":"normalized","mimeType":"application/ld+json","attrs":"","x":350,"y":180,"wires":[["58afacfd.817ff4"]]},{"id":"83dbf07e.ab3f5","type":"inject","z":"b79c7ba0.f87fc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"urn:entities:E1","payloadType":"str","x":150,"y":180,"wires":[["66018752.c1ff88"]]},{"id":"b9670eb9.c0afa","type":"NGSI-Update","z":"b79c7ba0.f87fc8","name":"","endpoint":"15d84497.52381b","protocol":"LD","updateMode":"upsert-replace","updateModev2":"append","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","mimeType":"application/ld+json","x":350,"y":300,"wires":[["c7670e0c.b01dc"]]},{"id":"9826e945.9beef8","type":"inject","z":"b79c7ba0.f87fc8","name":"set P1 = 12","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E1\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":12}}","payloadType":"json","x":150,"y":260,"wires":[["b9670eb9.c0afa"]]},{"id":"8aac3558.50d818","type":"inject","z":"b79c7ba0.f87fc8","name":"set P1 = 24","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"@context\":\"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld\",\"id\":\"urn:entities:E1\",\"type\":\"T\",\"P1\":{\"type\":\"Property\",\"value\":24}}","payloadType":"json","x":150,"y":340,"wires":[["b9670eb9.c0afa"]]},{"id":"3733c64c.3af2aa","type":"NGSI-Subscription","z":"b79c7ba0.f87fc8","name":"","endpoint":"15d84497.52381b","protocol":"LD","ldContext":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld","entityType":"T","watchedAttributes":"P1","q":"","notificationMode":"normalized","notificationEndpoint":"http://fiware-node-red:1880/T","notificationAttributes":"","mimeType":"application/ld+json","x":330,"y":420,"wires":[["c7670e0c.b01dc"]]},{"id":"699b33a8.9fa1ac","type":"http in","z":"b79c7ba0.f87fc8","name":"","url":"/T","method":"post","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["38f35acd.7e0d66"]]},{"id":"38f35acd.7e0d66","type":"json","z":"b79c7ba0.f87fc8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["c50aff4.52c8e","f3a7be71.2d4c8"]]},{"id":"cd0c0338.fb79c","type":"inject","z":"b79c7ba0.f87fc8","name":"subscribe","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":420,"wires":[["3733c64c.3af2aa"]]},{"id":"c50aff4.52c8e","type":"change","z":"b79c7ba0.f87fc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0].P1.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["d9066ddb.b4898"]]},{"id":"c7670e0c.b01dc","type":"debug","z":"b79c7ba0.f87fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":300,"wires":[]},{"id":"f3a7be71.2d4c8","type":"debug","z":"b79c7ba0.f87fc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":420,"wires":[]},{"id":"d9066ddb.b4898","type":"debug","z":"b79c7ba0.f87fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":500,"wires":[]},{"id":"ffc4c5aa.ca41f8","type":"debug","z":"b79c7ba0.f87fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"58afacfd.817ff4","type":"json","z":"b79c7ba0.f87fc8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":180,"wires":[["ffc4c5aa.ca41f8"]]},{"id":"15d84497.52381b","type":"Context-Broker","name":"","endpoint":"http://fiware-orion-ld:1026","service":"","servicepath":"","idmEndpoint":""}]